extends layout

append body
	.container(style="text:center")
		.titleBannerDiv()
				#titleName= title
		#contentWrapper()
			+panel-primary("Casey CrazyLegs","user")
				p Hi, I'm a Software Engineer and Music Producer from Ann Arbor MI.  My DJ name currently is Casey Crazylegs. Long story short, as a kid I was a fool with crazy legs. 
				p The sites main goal is to help other music producers/artists like myself on their journey with music.  I hope to develop tools that help these artists do what they do best, be creative and create good music.
				p Please contact me at crazylegsmusic@gmail.com if you would like to help!