extends layout

append body
	.bgImage
	.pageController.container.row(style="text:center;margin:0 auto;margin-top:50px")
		.titleBannerDiv()
			h1
				Mphelper
		#contentWrapper().filterBoxStyle(style='padding:10px')
			div#pWrapper
				p If you have interest in helping contribute to the MPHelper goal, please contact me at musicproductionhelper.gmail.com.  My name is Casey Edge, I am the founder (and a developer) for MPHelper.  