extends layout

append body
	.container(ng-controller="bodyMelodyHelperController" style="margin:0 auto;width:90%;max-width:966px;")
		.titleBannerDiv(style="text-align:center")
			h1
				#titleName= title
		#headerWrapper.container(style="text-align: center;width:100%")
			
			.alertWrapper(ng-show ="hasKeyBeenSelected()")
				+alert-i-success(" {{selectedKey}} {{majorOrMinorString}} {{ScaleOrChord}}","heart")
				//+alert-i-success("Key {{selectedKey}} Selected")
				//#btnEditKey.keyButton(ng-click="editKeyClicked()")
				//	+btn("Edit")
			.alertWrapper(ng-show="!hasKeyBeenSelected()")
				+alert-info("{{selectedKey}} {{alertInformation}}")

		#contentWrapper(style="text-align: center;width:100%")
			#keyButtonWrapper(style="display:inline-block;")
				//#btnAll.radioWrapper(ng-click="radioKeyClicked(caption)")
				//	+radio-toggle-info("radOptions2",[{caption:"A"},{caption:"B"},{caption:"C"}],0)
				
				#keyButtonRootNoteWrapper(style="float:left;margin-right:20px;")
					+label-info("Root Note:")
					#btnA.keyButton(ng-click="keyButtonAClicked()")
						+btn("A")
					#btnB.keyButton(ng-click="keyButtonBClicked()")
						+btn("B")
					#btnC.keyButton(ng-click="keyButtonCClicked()")
						+btn("C")
					#btnD.keyButton(ng-click="keyButtonDClicked()")
						+btn("D")
					#btnE.keyButton(ng-click="keyButtonEClicked()")
						+btn("E")
					#btnF.keyButton(ng-click="keyButtonFClicked()")
						+btn("F")
					#btnG.keyButton(ng-click="keyButtonGClicked()")
						+btn("G")
				#sharpFlatWrapper(style="float:left;")
					+label-info("Sign:")
					#btnSharp.keyButton(ng-click="sharpButtonClicked()")
						+btn("Sharp")						
					#btnFlat.keyButton(ng-click="flatButtonClicked()")
						+btn("Flat")		
			#majorMinorChordButtonWrapper(style="display:inline-block;")
				#majorMinorWrapper(style="float:left;margin-right:20px;")
					+label-info("Scale:")
					#btnMajor.keyButton(ng-click="majorButtonClicked()")
						+btn("Major")
					#btnMinor.keyButton(ng-click="minorButtonClicked()")
						+btn("Minor")
				#chordButtonWrapper(style="float:left;")
					+label-info("Chord:")
					#btnMajor.keyButton(ng-click="ChordIButtonClicked()")
						+btn("{{chordButton1}}")
					#btnMajor.keyButton(ng-click="ChordIIButtonClicked()")
						+btn("{{chordButton2}}")
					#btnMajor.keyButton(ng-click="ChordIIIButtonClicked()")
						+btn("{{chordButton3}}")
					#btnMajor.keyButton(ng-click="ChordIVButtonClicked()")
						+btn("{{chordButton4}}")
					#btnMajor.keyButton(ng-click="ChordVButtonClicked()")
						+btn("{{chordButton5}}")
					#btnMajor.keyButton(ng-click="ChordVIButtonClicked()")
						+btn("{{chordButton6}}")
					#btnMajor.keyButton(ng-click="ChordVIIButtonClicked()")
						+btn("{{chordButton7}}")
				#chord7or9Wrapper(style="float:left;")
					+label-info("7th or 9th")
					#btnMajor.keyButton(ng-click="Chord7thClicked()")
						+btn("7th")
					#btnMajor.keyButton(ng-click="Chord9thClicked()")
						+btn("9th")
			#canvasDiv(ng-click="canvasClick()")
				//canvas#noteCircleCanvas	
