
//- bootstrap.jade
//- bootstrap mixins


//- Including Icon mixins
include ../bower_components/jade-bootstrap/components/icons
//- Including Alert mixins
include ../bower_components/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../bower_components/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../bower_components/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../bower_components/jade-bootstrap/components/carousel
//- Including Table mixins
include ../bower_components/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../bower_components/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../bower_components/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../bower_components/jade-bootstrap/components/navs
//- Including Label mixins
include ../bower_components/jade-bootstrap/components/labels
//- Including Panel mixins
include ../bower_components/jade-bootstrap/components/panels
//- Including Tab mixins
include ../bower_components/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../bower_components/jade-bootstrap/components/dropdowns
//- Including Form control mixins
include ../bower_components/jade-bootstrap/components/forms
//- Including Modal dialog mixins
include ../bower_components/jade-bootstrap/components/modal
//- Including List group mixins
include ../bower_components/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../bower_components/jade-bootstrap/components/progress-bars
//- Including Button mixins
include ../bower_components/jade-bootstrap/components/buttons
//- Including Image mixins
include ../bower_components/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../bower_components/jade-bootstrap/components/bootswatch

doctype html
html(lang="en" ng-app='myApp')
        head
                meta(charset="UTF-8")
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name="viewport",content="width=device-width, initial-scale=1")
                meta(name="description",content="")
                meta(name="author",content="")
                meta(name="google-signin-client_id",content="14072704931-t3airv9cjge19gns43tj0saa72kp89f0.apps.googleusercontent.com")


                14072704931-t3airv9cjge19gns43tj0saa72kp89f0.apps.googleusercontent.com
                //link(rel="icon",href="../../favicon.ico")
                block styles
                        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
                        //link(rel="stylesheet",href="css/bootstrap.min.css")
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/style.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/animate.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/ng-tags-input.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/ng-tags-input.bootstrap.css')
                base(href="/")
                block scripts
                        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js')
                        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
                        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
                        //script(src='//cdn.tinymce.com/4/tinymce.min.js')
                        script(src='//apis.google.com/js/platform.js' async defer)
                        script(src='//apis.google.com/js/platform.js?onload=renderButton')
                        script(src='javascripts/ng-tags-input.min.js')
                        script(src='javascripts/jquery.canvasjs.min.js')
                        script(src='javascripts/angular-file-upload.min.js')
                        script(src='javascripts/ngStorage.min.js')
                        script(src='javascripts/angular-animate.min.js')
                        script(src='javascripts/angular.audio.js')
                        script(src='javascripts/app.js')
                        script(src='javascripts/services.js')
                        script(src='javascripts/factories.js')
                        script(src='javascripts/controllers.js')
                        script(src='javascripts/commentsController.js')
                        script(src='javascripts/profileController.js')
                        script(src='javascripts/sampleLibController.js')
                        script(src='javascripts/filters.js')
                        script(src='javascripts/directives.js')
        body(data-spy="scroll",data-target=".scrollspy" ng-controller="bodyController")
                    #navbar_menu(style='margin-bottom:0px;height:50px;')
                        +navbar("Music Production Helper","navbarWidget")
                                +nav_item("/") Chromatic Wheel
                                +nav_item("tipLib") Tip Library 
                                +nav_item("sampleLib") Sample Library 
                                +nav_item("profile")#profileButton Profile
                                +nav_item("about") About
                                +nav_item_dropdown("#")(label="Connect")
                                        //+nav_item("https://soundcloud.com/crazylegsmusic","soundCloudLink") SoundCloud
                                        //+nav_item("https://www.facebook.com/crazylegsmusic/","facebookLink") Facebook
                                        //+nav_item("https://twitter.com/crazylegsmusic","twitterLink") Twitter
                                        //+nav_divider                            
                                        +nav_item("signUp") Sign Up
                                        +nav_item("signIn") Sign In
                                        +nav_item("contactMe") Contact
                #profileLoggedIn(ng-show="isLoggedIn()" style="float:right;")
                        a(href="/logout" ng-click="signOutClicked()") Sign out
                block body
                #googleUserProfile(ng-show="false")
                #userId(ng-show="false")



