
//- bootstrap.jade
//- bootstrap mixins


//- Including Icon mixins
include ../bower_components/jade-bootstrap/components/icons
//- Including Alert mixins
include ../bower_components/jade-bootstrap/components/alerts
//- Including Tooltip mixins
include ../bower_components/jade-bootstrap/components/tooltips
//- Including Accordion mixins
include ../bower_components/jade-bootstrap/components/accordion
//- Including Carousel mixins
include ../bower_components/jade-bootstrap/components/carousel
//- Including Table mixins
include ../bower_components/jade-bootstrap/components/tables
//- Including Navbar mixins
include ../bower_components/jade-bootstrap/components/navbar
//- Including Toggle Button mixins
include ../bower_components/jade-bootstrap/components/toggle
//- Including Nav mixins
include ../bower_components/jade-bootstrap/components/navs
//- Including Label mixins
include ../bower_components/jade-bootstrap/components/labels
//- Including Panel mixins
include ../bower_components/jade-bootstrap/components/panels
//- Including Tab mixins
include ../bower_components/jade-bootstrap/components/tabs
//- Including Dropdown mixins
include ../bower_components/jade-bootstrap/components/dropdowns
//- Including Form control mixins
include ../bower_components/jade-bootstrap/components/forms
//- Including Modal dialog mixins
include ../bower_components/jade-bootstrap/components/modal
//- Including List group mixins
include ../bower_components/jade-bootstrap/components/list-groups
//- Including Progress bar mixins
include ../bower_components/jade-bootstrap/components/progress-bars
//- Including Button mixins
include ../bower_components/jade-bootstrap/components/buttons
//- Including Image mixins
include ../bower_components/jade-bootstrap/components/images
//- Including Bootswatch theme mixins
include ../bower_components/jade-bootstrap/components/bootswatch

doctype html
html(lang="en" ng-app='myApp')
        head
                meta(charset="UTF-8")
                meta(http-equiv="X-UA-Compatible", content="IE=edge")
                meta(name="viewport",content="width=device-width, initial-scale=1")
                meta(name="description",content="")
                meta(name="author",content="")
                meta(name="google-signin-client_id",content="14072704931-t3airv9cjge19gns43tj0saa72kp89f0.apps.googleusercontent.com")


                14072704931-t3airv9cjge19gns43tj0saa72kp89f0.apps.googleusercontent.com
                //link(rel="icon",href="../../favicon.ico")
                block styles
                        link(rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css")
                        //link(rel="stylesheet",href="css/bootstrap.min.css")
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/style.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/animate.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/ng-tags-input.css')
                        link(rel='stylesheet' type="text/css"  href='/stylesheets/ng-tags-input.bootstrap.css')
                        link(rel='stylesheet' href="/scriptsFlagRoute/flag-icons.min.css")
                        link(rel='stylesheet' href="/bootStrapIcons/bootstrap-icons.css")

                        
                base(href="/")
                block scripts
                        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js')
                        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
                        script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
                        //script(src='//cdn.tinymce.com/4/tinymce.min.js')
                        script(src='//apis.google.com/js/platform.js' async defer)
                        script(src='//apis.google.com/js/platform.js?onload=renderButton')
                        script(src='javascripts/ng-tags-input.min.js')
                        script(src='javascripts/jquery.canvasjs.min.js')
                        script(src='javascripts/angular-file-upload.min.js')
                        script(src='javascripts/ngStorage.min.js')
                        script(src='javascripts/angular-animate.min.js')
                        script(src='javascripts/angular.audio.js')
                        script(src='javascripts/app.js')
                        script(src='javascripts/services.js')
                        script(src='javascripts/factories.js')
                        script(src='javascripts/controllers.js')
                        script(src='javascripts/commentsController.js')
                        script(src='javascripts/profileController.js')
                        script(src='javascripts/sampleLibController.js')
                        script(src='javascripts/devDashController.js')
                        script(src='javascripts/popUpController.js')
                        script(src='javascripts/notificationController.js')
                        script(src='javascripts/trendingWidgetController.js')
                        script(src='javascripts/popUpService.js')
                        script(src='javascripts/feedService.js')
                        script(src='javascripts/notificationService.js')
                        script(src='javascripts/filters.js')
                        script(src='javascripts/directives.js')
                        script(src='javascripts/ng-country-select.js')
                        
        body(data-spy="scroll",data-target=".scrollspy" ng-controller="bodyController")
                    #navbar_menu(style='margin-bottom:0px;height:50px;')
                        +navbar("L3GZ WRLD","navbarWidget")
                                +nav_item("/") Chromatic Wheel
                                +nav_item("tipLib") Tip Library 
                                +nav_item("sampleLib") Sample Library 
                                +nav_item("profile")#profileButton Profile
                                +nav_item("about") About
                                +nav_item_dropdown("#")(label="Connect")
                                        //+nav_item("https://soundcloud.com/crazylegsmusic","soundCloudLink") SoundCloud
                                        //+nav_item("https://www.facebook.com/crazylegsmusic/","facebookLink") Facebook
                                        //+nav_item("https://twitter.com/crazylegsmusic","twitterLink") Twitter
                                        //+nav_divider                            
                                        +nav_item("signUp") Sign Up
                                        +nav_item("signIn") Sign In
                                        +nav_item("contactMe") Contact
                                +nav_item("devDash") DevDash

                #profileLoggedIn(ng-show="isLoggedIn()" style="float:right;")
                        a(href="/logout" ng-click="signOutClicked()") Sign out
               
                div.pageController(ng-controller="notificationController" )
                        #notificationCount(ng-show="notificationCount>0")
                                span.circleNotification {{notificationCount}}
                        #notificationBell
                                i.bi.bi-hypnotize.clickableLink.activeIcon(ng-click="notificationWidgetClick()" ng-show="notificationWidgetActive()")
                                i.bi.bi-hypnotize.clickableLink(ng-click="notificationWidgetClick()" ng-show="!notificationWidgetActive()")
                        #notificationDiv(ng-show="notificationWidgetActive()")
                                #notification.clickableLink(ng-repeat="notification in user.notifications" ng-click="notificationClicked(notification)")
                                        div#notificationContent
                                                span {{notification.content}}
                                        #notificationInfo
                                                span {{notification.profileDetails[0].username}}
                                                span#userFlag.profileIcon(class='fi fi-{{notification.profileDetails[0].country  | lowercase}}' title="{{notification.profileDetails[0].country}}")
                                        #notificationTIme
                                                time.row.small.pull-right(style='margin-left:5px;'){{notification.created_dt|date:"MM/dd/yyyy 'at' h:mma"}}
                block body
                div.pageController(ng-controller="popUpController" style="margin:0 auto;margin-top:50px" )
                        .div.loginPopup(ng-show="showPopUp('email')")
                                .div.row.formPopup#popupForm
                                        form.formContainer
                                                .row#dismissPopUp
                                                        a.clickableLink(ng-click="dismissClicked('email')") Dismiss
                                                h2 Please enter email 	
                                                label(for="email")
                                                        strong email 
                                                input(type='text' id="email" placeholder="email@email.com" name="email" required ng-model='popUpEmailAddress')
                                                label(for="confirm")
                                                        strong confirm 
                                                input(type='text' id="confirm" placeholder="email@email.com" name="email confirm" required ng-model='popUpEmailAddressCofirm')

                                                button(ng-click="popUpFormSubmit()") Submit
                                        div.popUpMessageForUser 
                                                span {{popUpMessageForUser}}
                        .div.row.loginPopup(ng-show="showPopUp('profile')")
                                .div.formPopup#popupForm.col-lg-10.col-md-10.col-sm-10.col-xs-10
                                        form.formContainer()
                                                .row#dismissPopUp
                                                                a.clickableLink(ng-click="dismissClicked('profile')" style="float:right") Dismiss
                                                .profileFields(ng-show="showPage('profileInit')")
                                                        .row
                                                                h2 Lets set you up a L3GZ WRLD profile!	
                                                                h7 Welcome to the community you.  I think you found excatly what you are looking for.  I hope so!
                                                        br
                                                        label(for="username")
                                                                strong  username
                                                        input( id="userNameInput" type='text' required placeholder="username" name="username" ng-model='userData.username' ng-change="changingUserName(userData.username)" )
                                                        #url
                                                                span {{userData.url}}        
                                                        label(for="email")
                                                                strong email 
                                                        input(type='text' id="email" placeholder="email@email.com" name="email" required ng-model='popUpEmailAddress')
                                                        
                                                        
                                                        //- label(for="url")
                                                        //-         strong  /url
                                                        //- input(type='text' id="url" placeholder="/profile/kcedge" name="url" required ng-model='userData.url' ng-disabled="true" ) 
                                                        //- label(for="city")
                                                        //-         strong  City
                                                        //- input(type='text' id="city" placeholder="city" name="city" required ng-model='userData.city')
                                                        label(for="country")
                                                                strong  Country
                                                        country-select.btn.btn-default(cs-priorities="AU, DE, GB, US" ng-model="userData.country" class="countrySelectClass" )
                                                        div.flagDisplay.row
                                                                 span#flagDisplay(class="fi fi-{{userData.country  | lowercase}}") 
                                                        //-flag(code='userData.country' size='lg' effect='round')
                                                        //-input(type='text' id="country" placeholder="country" name="country" required ng-model='userData.country')
                                                        br
                                                        label(for="bio")
                                                                strong  Bio
                                                        div#bio.row
                                                                textarea.form-control(ng-model='userData.bio' type='text' placeholder="about you.. and your links" style="margin-bottom: 10px;")
                                                        //- label(for="links")
                                                        //-         strong  Links
                                                        //- div#links.row(ng-repeat='link in links')
                                                        //-         inputl#linkDataEntry.form-control(ng-model='userData.link' type='url' placeholder="links")     
                                                        //-         button#removeLinkDataEntry(ng-click="removeLink()") X
                                                        //- div#addLinkButtonWrapper.row
                                                        //-         button(ng-click="addLink()") Add Link
                                                        label(for="soundcloud")
                                                                strong  SoundCloud
                                                        input(type='text' id="soundcloud" placeholder="soundcloud" name="soundcloud" required ng-model='userData.soundcloud')    
                                                 .profileImgFields.profileFields(ng-show="showPage('profileImgr')")
                                                        .row
                                                                h2 Lets add some pictures to your profile to express YOU
                                                                h7 Please upload a picture of you or something you love 
                                                        br
                                                        
                                                        div.row
                                                                input.btn.btn-primary#selectedFile(type="file" name="profileImage" nv-file-select uploader="profileImageUploader" style="display:none")
                                                                input.btn.btn-primary(value="Upload Profile Image" ng-click="profileImageUploadClicked()")
                                                                
                                                                div.row.marginBottom10
                                                                        div(ng-repeat="item in profileImageUploader.queue")

                                                                                button.btn-xs(ng-click="item.remove()") remove {{item.file.name}}   
                                                                                        span.glyphicon.glyphicon-remove
                                                                                                                div.buttonWrapper            
                                                                button.btn.btn-xs.row.profilePictureUploadButton(ng-show="profileImageUploader.queue.length > 0" ng-click="profileUploadClicked()" ng-disabled="!profileImageUploader.getNotUploadedItems().length")
                                                                        span.glyphicon.glyphicon-upload
                                                                                &nbsp Upload         
                                                                //- .progress       
                                                                //-         .progress-bar(role="progressbar" ng-style="{width:profileImageUploader.progress s+ '%'}" style="width:0%;")
                                                                div#photoUserMessage(ng-if= "(userData.profileImagesUploaded.length > 0)") Your primary photo is selected using the top left corner
                                                                .profilePictureHorizonalScroll.frame#scrollParent
                                                                        .profilePictureThumbsWidget
                                                                                .thumbnailWrapper.marginBottom10(ng-repeat='profileImg in userData.profileImagesUploaded')
                                                                                        img.img-thumbnail.imageThumbNailProfile( class='imageAttached{{$index}}' ng-src='{{profileImg.image}}' ng-show='{{profileImg.isProfile}}' ng-click='editImageClicked($index);')
                                                                                        #imgUploadButtonsDiv.row(ng-show="profileImg" style='margin-bottom:5px;')
                                                                                                //- button.editButtonStyle.clickable(ng-click="editProfileImgClicked(profileImg)" )
                                                                                                //-         span.glyphicon.glyphicon-pencil
                                                                                                button.editButtonStyle.clickable(ng-click="removeProfileImgClicked(profileImg)" )
                                                                                                        span.glyphicon.glyphicon-remove-circle
                                                                                        #primaryInputDiv
                                                                                                input#primaryInput(type="checkbox" ng-click="primaryClicked(profileImg)" ng-model="profileImg.primary")
                                                                div#arrowButtonsProfileImg
                                                                        span#leftArrowProfileImg.glyphButton.glyphicon.glyphicon.glyphicon-triangle-left(ng-mousedown="pannerMouseDown('left')" ng-mouseup="pannerMouseUp('left')" class="panner" data-scroll-modifier='-1')                                                                      
                                                                        span#rightArrowProfileImg.glyphButton.glyphicon.glyphicon.glyphicon-triangle-right(ng-mousedown="pannerMouseDown('right')" ng-mouseup="pannerMouseUp('right')" class="panner" data-scroll-modifier='1')


                                                        div.bannerInputWrapper.row  
                                                                .row
                                                                        h7 Make your profile more yours with a banner.  Wide images work best :)
                                                                div.row
                                                                input.btn.btn-primary#selectedBannerFile(type="file" name="profileBannerImage" nv-file-select uploader="profileBannerImageUploader" style="display:none")
                                                                input.btn.btn-primary(value="Upload Profile Image Banner" ng-click="profileBannerImageUploadClicked()" onclick="")
                                                                
                                                                div.row.marginBottom10
                                                                        div(ng-repeat="item in profileBannerImageUploader.queue")

                                                                                button.btn-xs(ng-click="item.remove()") remove {{item.file.name}}   
                                                                                        span.glyphicon.glyphicon-remove
                                                                                

                                                                //- .progress       
                                                                //-         .progress-bar(role="progressbar" ng-style="{width:profileBannerImageUploader.progress + '%'}" style="width:0%;")
                                                                .profilePictureHorizonalScroll.frame
                                                                        .profilePictureThumbsWidget#scrollParent
                                                                                .thumbnailWrapper.row.marginBottom10(ng-repeat='img in userData.profileBannerImagesUploaded')
                                                                                        img.img-thumbnail.imageThumbNailProfileBanner(class='imageAttached{{$index}}' ng-src='{{img.image}}' ng-show='{{img.isProfile}}' ng-click='editImageClicked($index);')
                                                                                        #imgUploadButtonsDiv.row(ng-show="img" style='margin-bottom:5px;')
                                                                                                //- button.editButtonStyle.clickable(ng-click="editProfileBannerImgClicked(img)" )
                                                                                                //-         span.glyphicon.glyphicon-pencil
                                                                                                button.editButtonStyle.clickable(ng-click="removeProfileBannerImgClicked(img)" )
                                                                                                        span.glyphicon.glyphicon-remove-circle
                
                                                                div.buttonWrapper           
                                                                        button.btn.btn-xs.row.profilePictureUploadButton#bannerUpload(ng-show="profileBannerImageUploader.queue.length > 0" ng-click="profileBannerUploadClicked()" ng-disabled="!profileBannerImageUploader.getNotUploadedItems().length")
                                                                                span.glyphicon.glyphicon-upload
                                                                                        &nbsp Upload Banner
                                                .profileImgFields.profileFields(ng-show="showPage('interests')")  
                                                        div
                                                                h2(style="margin-bottom:10px") What interests you? This helps us suggest information you like, but also helps others in the community learn about you! Which is exciting, that is reason for the exclamation.	
                                                        hr
                                                        #profileInterestInputWrapper.row
                                                               
                                                                div#tagInputWrapper
                                                                        h5 
                                                                        tags-input#profileInterestTagInput(ng-model='userData.interestTags' placeholder="Add Interests")
                                                                                auto-complete(source='getIntrestTags($query)' autocomplete="on" ) 
                                                                        //- button(ng-click="addInterest()")  
                                                                        #interetSuggestionsWrapper
                                                                                ul#interestsSuggestions
                                                                                        //- li.interestTags(ng-repeat="tag in ")
                                                                                        //- span.interestTag {{tag.text}} 
                                                                
                                                                div(class='col-sm-1 col-md-1 col-lg-1 col-xs-1')
                                                        
                                                        div.row#tagDisplayWrapper     
                                                                h5      Interests    
                                                                div            
                                                                        ul#interests(class='col-sm-12 col-md-12 col-lg-12 col-xs-12')
                                                                                li.interestTags(ng-repeat="tag in userData.interestTags")
                                                                                        span.interestTag {{tag.text}} 
                                                                                                a.remove-button.clickableLink(ng-click="removeInterestTagProfile(tag)") x
                                                        //- div#roleInputWrapper.row
                                                        //-         tags-input#profileRoleTagInput(ng-model='roleTags' placeholder="What are some roles you want to fill? Ex: Singer, Engineer, Agent")
                                                        //-                                 auto-complete(source='getRoleTags($query)' autocomplete="on" ) 
                                                        //-                         //- button(ng-click="addInterest()")  
                                                        //-                         #interetSuggestionsWrapper
                                                        //-                                 ul#interestsSuggestions
                                                                                                //- li.interestTags(ng-repeat="tag in ")
                                                                                                //- span.interestTag {{tag.text}} 
                                                        div.row#tagDisplayWrapper     
                                                                h5      Roles    
                                                                div
                                                                        h7(style="font-style: italic;") You can upgrade roles by interacting in L3gz world!           
                                                                        ul#interests(class='col-sm-12 col-md-12 col-lg-12 col-xs-12')
                                                                                li.interestTags(ng-repeat="role in userData.roleTags" )
                                                                                        span.interestTag {{role.text}} 
                                                                                        div
                                                                                                i.miniIcon.bi(class="bi-{{role.bootStrapIcon}}")
                                                                                                image.miniIcon(ng-show="role.iconImg"  ng-src="icon/{{role.iconImg}}")
                                                .profileLinks(ng-show="showPage('profileLinks')")  
                                                        .row
                                                                h2(style="margin-bottom:10px") Now lets add some very important infomation, your social media links and.. profile color!       
                                                                .row.linksWrapperInput
                                                                         #dropdownWrapper.dropdown(style="float:left")
                                                                                span.label.label-default.dropdown-toggle#rightBarWidgetDropdown1(data-toggle='dropdown') For 
                                                                                        span.glyphicon.glyphicon-menu-down
                                                                                span#linkTypeSelected    {{userLink.userLinkTypeSelected}}
                                                                                ul.dropdown-menu(aria-labelledby="linkType" display='')
                                                                                        li(ng-repeat='link in linkTypes')
                                                                                                a(ng-click="linkTypeClicked(link)") {{link}}
                                                                        #fullLinkInput
                                                                                input(type='text' placeholder="http://www.yoururl.com" ng-model='userLink.url' ng-show="isOtherUrl() || true")
                                                                //- input(type='text' placeholder="username" ng-model='userLink.username')
                                                        #linkMessage    
                                                                span {{linkMessage}}
                                                        #addLinkButton.row 
                                                                button.btn-sm.btn.btn-primary(ng-click="addLinkClicked(userLink)") Add                
                                                        div.row#linksDisplayWrapper(ng-show="userData.links.length != 0") 
                                                                h5      Links    
                                                                div            
                                                                        ul#interests(class='col-sm-12 col-md-12 col-lg-12 col-xs-12')
                                                                                li.interestTags(ng-repeat="link in userData.links")
                                                                                        span.interestTag {{link.url}} 
                                                                                                a.remove-button.clickableLink(ng-click="removeLinkProfile(link)") x
                                                                                        
                                                        .row#profileColorInput 
                                                                span.label.label-default Profile Color:
                                                                input(type="color" ng-change="colorChanged()" id="colorPicker" ng-model="userData.profileColor" )
                                                div#nextbuttons
                                                        button.btn-default(ng-click="backPage()") Back
                                                        button.btn-default(ng-click="nextPage()") Next
                                                div#pagesWidget
                                                        span Page: {{currentPageIndex+1}} / {{popUpTotalPages}}   
                                                        #debugPageFields(ng-show='false')  
                                                                span PopUp Name : {{popUp.name}}
                                                                br   
                                                                span Current Page Name : {{popUp.pages[currentPageIndex].pageName}}         

                                                div#submitProfilePopUp(ng-show="currentPageIndex+1 != popUpTotalPages || true")
                                                        button(ng-click="popUpFormSubmit()") Save
                                                 div#submitProfilePopUp(ng-show="currentPageIndex+1 == popUpTotalPages")
                                                        button(ng-click="popUpFormSubmit('exit')") Save & Exit
                                                 
                                        div.popUpMessageForUser 
                                                span {{popUpMessageForUser}}
                        .div.row.loginPopup(ng-show="showPopUp('tip')")
                                .div.formPopup#popupForm.col-lg-10.col-md-10.col-sm-10.col-xs-10
                                        form.formContainer()
                                                .row#dismissPopUp
                                                                a.clickableLink(ng-click="dismissClicked('profile')" style="float:right") Dismiss
                                                .tipFields(ng-show="showPage('tipInit')")
                                                        .row
                                                                h2 What is on your mind?	
                                                        #tipsFormWrapper.contentWrapper

                                                        input.form-control(type='text' id='tipTitleEditInput' placeholder='Title')
                                                        #editDescriptionWrapper
                                                                //h6 Description
                                                                textarea#textAreaEditTip.form-control.tipDescInput(placeholder="Tip Description" required)
                                                        #editDescriptionButtonWrapper(style="display:inline-block")
                                                                button.btn(ng-click="editAddDescription()" style="float:left")
                                                                        span.glyphicon.glyphicon-plus
                                                                button.btn(ng-click="editSubtractDescription()" style="float:left")
                                                                        span.glyphicon.glyphicon-minus
                                                                #noteWrapper(style="float:left;margin-left:5%;width:80%;")
                                                                                span(style="font-style:italic;") Note: For now, images are displayed in the order they are uploaded.  If you want an image between paragraphs, add a description.  The first image uploaded is displayed after the first description, the second image after the second description.. and so on.
                                                        #editImagesContainer(class="row")
                                                                .col-xs-2.col-sm-2.col-md-2.col-lg-2#image(ng-repeat="tipImage in imageContainer" style='margin-left:3%' class='form-group')
                                                                                img( ng-src="{{tipImage.imageFileName}}" style='width:100%;padding-top:2px;')
                                                                                select.imageSectionInput(name="imageSectionSelect" type="select")
                                                                                                        option(value="imageSection" ng-repeat="imageSection in imageSectionSelectionArray"){{imageSection}}
                                                                                #removeImage.keyButton(ng-click="removeImage()")
                                                                                                +btn-xs("Delete")
                                                        #uploadedImagesWrapper(style='display:inline-block;')
                                                                #imageWrapper(style='float:left; width:130px; height:130px' ng-repeat='tipPart in tipImageArray' )
                                                                        img.img-thumbnail.imageThumbNail(class='imageAttached{{$index}}' ng-show="tipPart.hasImage" ng-src='{{tipPart.imageFileName}}' ng-click='editImageClicked($index);')
                                                                #imageSelectedData(style='')
                                                                        {{imageSelectedData}}
                                                                        button.btn.btn-danger.btn-xs(ng-show = 'tipImageArray.length>0' ng-click='removeSelectedImage()' ng-disabled='!imageSelected')
                                                                                span.glyphicon.glyphicon-remove-sign
                                                                                span &nbsp Remove
                                                        .imageUploaderInputWrapper(style="margin-top:5px;")
                                                                .headerImageInput(style="font-size:small;color:#777777")
                                                                        span Image Uploader
                                                                        span(style='float:right') {{fileErrorMessage}}
                                                                .inputWrapper						
                                                                        input.inputClass(type="file",nv-file-select uploader="uploader")
                                                                        ul
                                                                                li(ng-repeat="item in uploader.queue")
                                                                                        {{item.file.name}}
                                                                                        //button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
                                                                                        //	span.glyphicon.glyphicon-upload
                                                                                        //button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="item.isUploading")
                                                                                        //	span.glyphicon.glyphicon-ban-circle
                                                                                        button.btn.btn-default.btn-xs(ng-click="item.remove()" style=";color:black;margin-left:5px;")
                                                                                                span.glyphicon.glyphicon-remove
                                                                .progress
                                                                        .progress-bar(role="progressbar" ng-style="{width:uploader.progress + '%'}" style="width:0%;")
                                                                #imgUploadButtonsDiv(ng-show="uploader.queue.length > 0" style='margin-bottom:5px;')
                                                                        button.btn.btn-danger.btn-xs(ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" )
                                                                                                        span.glyphicon.glyphicon-trash 
                                                                                                        &nbsp Remove all
                                                                        button.btn.btn-warning.btn-xs(ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" style='margin-left:5px;')
                                                                                                        span.glyphicon.glyphicon-ban-circle 
                                                                                                        &nbsp Cancel
                                                                        button.btn.btn-success.btn-xs(ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style='margin-left:5px;')
                                                                                                        span.glyphicon.glyphicon-upload
                                                                                                        &nbsp Upload
                                                                                                         
                                                        .filterBoxStyle(style='display:inline-block;width:100%;')
                                                               
                                                        .viedoLinkInputWrapper(style="margin-top:5px;" ng-show='true')
                                                                h7 Link Video							
                                                                        +input("text","editVideoLink","https://www.youtube.com/","")
                                                

                                                       
                                                .tipFields(ng-show="showPage('tipLocalVideo')")
                                                        .row
                                                                h2 Add a video	
                                                        #tipsFormWrapper.contentWrapper
                                                        form(action="/upload-video" method="POST" enctrype="multipart/form-data")
                                                                .form-group     
                                                                        label Select Video 
                                                                        input(type="file" name="video" accept="video/*" class="form-control-file" required)
                                                                .form-group 
                                                                        label Thumbnail 
                                                                        input(type="file" name="thumbnail" accept="image/*" class="form-control-file")
                                                                .form-group 
                                                                        label Title 
                                                                        input(type="text" name="title"  class="form-control")
                                                                .form-group 
                                                                        label Description 
                                                                        input(type="text" name="description"  class="form-control")        
                                                               
                                                        .viedoLinkInputWrapper(style="margin-top:5px;" ng-show='false')
                                                                h7 Link Video							
                                                                        +input("text","editVideoLink","https://www.youtube.com/","")
                                                .backAndSubmitWrapperPopUp(style='display:inline-block;width:100%')
                                                                .backToTipsButtonDiv(style='float:left' ng-click="backPage()")
                                                                        +btn-primary("Back")
                                                                .nextButtonDiv(style='float:right' ng-click="nextPage()")
                                                                        +submit-primary("Next")
                                                                .submitButtonDiv.submitTipButtonPopup( ng-click="editSubmitButtonClicked()")
                                                                        +submit-primary("Submit")
                                                                


