
extends layout

block navbar
	.container
		+navbar("Project name","dropdown_menu")
			+nav_item("index.html","active") Home
			+nav_item("about.html") About
			+nav_item("helloworld") Contact
			+nav_item_dropdown("#")(label="Dropdown")
				+nav_item("#") Action
				+nav_item("#") Another Action
				+nav_item("#") Something else here
				+nav_divider
				+nav_header Nav header
				+nav_item("#") Separated link
				+nav_item("#") One more separated link
			+nav_item_dropdown("#")(label="SoundCloud")

