		
ul.panel-body.comment-detail-list(style='margin-top:25px;')
	#header.row
		div.col-sm-4.col-md-4.col-lg-4.col-xs-4.labelSort
			.label.label-info Filter
		select.dropdownWrapper.form-control-minus-width.col-sm-8.col-md-8.col-lg-8.col-xs-8(ng-model='$parent.packsFilter')
				option(ng-repeat='sortFilter in $parent.packsFilterOptions' ng-value='{{sortFilter}}'  ng-selected="$index==2")
					span {{sortFilter}}
	div.row
		div.col-sm-4.col-md-4.col-lg-4.col-xs-4.labelSort
			.label.label-info Duration
		select.dropdownWrapper.form-control-minus-width.col-sm-8.col-md-8.col-lg-8.col-xs-8(ng-model='$parent.packsFilterDuration')
				option(ng-repeat='durationFilter in $parent.packsDurationOptions' ng-value='{{durationFilter}}' ng-selected="$index==2")
					span {{durationFilter}}
	div(ng-repeat="pack in $parent.packs" style='display:inline:block')
		div.packNavRow
			div.packWrapper.cursor(style='float:left;background-size: contain;height: 100%;' ng-click='packClicked(pack)' id='pack{{pack._id}}' ng-class="{'active':pack.active}" ng-style="{'background-image': 'url(' + pack.packImageJson[0].image + ')'}")
				div.packHeaderWrapper.row
					h4
						span.packName {{pack.packname}}
				div.packImageWrapper.row
					//.div.profileImageWrapper.thumbnail()
							img(ng-src='{{pack.packImageJson[0].image}}' style='')
			
		
