extends layout

append body
	.container(ng-controller="profileHelperController" style="margin:0 auto;width:90%")
		.titleBannerDiv()
				#titleName= "Welcome " + username
				#userData(ng-hide="false")= localuser
				#usernameId(ng-hide="false")= localuser.local.username
		#headerWrapper.container(style="text-align: center;width:100%")
			
		