extends layout

append body
	.pageController(ng-controller="ProfileCtrl" style="margin:0 auto;margin-top:50px")
		.profilePageWrapper.row(style='margin-top:50px')
			.profilePageLeft.col-sm-1.col-md-1.col-lg-1.col-xl-1
			.profilePageCenter.col-sm-8.col-md-8.col-lg-8.col-xl-8
				.profileNotify(ng-show="!isLoggedIn()")
				.profilePageBanner.contentWrapper(ng-show="isLoggedIn()")
					.div()
						.div.headerbanner(style='display:inline-block')
							h2.left
								#greeting= greeting
									a(href='/profile'){{username}}
						.div.warningbanner
							#alert(ng-hide='true')
								+alert-i-warning("The profile page is still in development.  This page will display your saved and contributed tips and samples, your comments, your social network links, stats, and much more!","heart")
						.div.navBanner(style='')
							a.left(href='/tipLib')
								span Go to Tip Library 
							a.left(href='/')
								span Go to Chromatic Wheel
							#profileDetails(ng-show="false")
								a(href='/profile')#userName=username
				+tab-list(["Favorites","Submitted","Top","Recent"],0)
						+tab("Favorites","active")
							//h1 My Tips
							div.tipTableWrapper
								//+table(["#","First Name","Last Name","Username"],[["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
								div.row.table-striped.table-hover.tipTable
									div.row.tableHeader
										div.col-md-2.col-lg-2.col-xl-2

										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Tags
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Points
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Submitted By
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Date Submitted
										//th(width="20%") Tags
										//th(width="20%") Points
										//th(width="20%") Submitted By
										//th(width="20%") Date Submitted
										//th
									div.tableBody(style='max-height:250px;overflow:auto;')
										div.row.hoverButton(style='max-height:50px;overflow:auto;' ng-repeat='tip in lovedTipsData' ng-click = 'updateTip(tip)' ng-class-odd="'odd'" ng-class-even="'even'")
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a {{tip.tipTitle}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell(style='height:50px;overflow:auto;')
												span(ng-repeat="tipFilter in tip.filtersJson" ng-if='tipFilter.toggle')
													//+label-primary("{{tipFilter.name}}")
													label.label-primary(style='margin-right:3px;') {{tipFilter.name}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.tipPoints}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/profile/{{tip.submittedBy}}' title="View Profile" data-toggle="tooltip" data-placement="top" tooltip){{tip.submittedBy}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.dateSubmitted|date:"MM/dd/yyyy"}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/tipLib/{{tip._id}}')
													span.glyphicon.glyphicon-open(title="Open in Tip Library" data-toggle="tooltip" data-placement="top" tooltip)
									hr
									div.row.tableFooter
										div.col-md-2.col-lg-2.col-xl-2 
											span Total:
										div.col-md-2.col-lg-2.col-xl-2
										div.col-md-2.col-lg-2.col-xl-2 {{totalpoints}}
										div.col-md-2.col-lg-2.col-xl-2
						+tab("Submitted")
							//h1 My Tips
							div.tipTableWrapper
								//+table(["#","First Name","Last Name","Username"],[["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
								div.row.table-striped.table-hover.tipTable
									div.row.tableHeader
										div.col-md-2.col-lg-2.col-xl-2

										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Tags
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Points
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Submitted By
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Date Submitted
										//th(width="20%") Tags
										//th(width="20%") Points
										//th(width="20%") Submitted By
										//th(width="20%") Date Submitted
										//th
									div.tableBody(style='max-height:250px;overflow:auto;')
										div.row.hoverButton(style='max-height:50px;overflow:auto;' ng-repeat='tip in tipsSubmitted' ng-click = 'updateTip(tip)' ng-class-odd="'odd'" ng-class-even="'even'")
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a {{tip.tipTitle}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell(style='height:50px;overflow:auto;')
												span(ng-repeat="tipFilter in tip.filtersJson" ng-if='tipFilter.toggle')
													//+label-primary("{{tipFilter.name}}")
													label.label-primary(style='margin-right:3px;') {{tipFilter.name}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.tipPoints}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/profile/{{tip.submittedBy}}' title="View Profile" data-toggle="tooltip" data-placement="top" tooltip){{tip.submittedBy}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.dateSubmitted|date:"MM/dd/yyyy"}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/tipLib/{{tip._id}}')
													span.glyphicon.glyphicon-open(title="Open in Tip Library" data-toggle="tooltip" data-placement="top" tooltip)
									hr
									div.row.tableFooter
										div.col-md-2.col-lg-2.col-xl-2 
											span Total:
										div.col-md-2.col-lg-2.col-xl-2
										div.col-md-2.col-lg-2.col-xl-2 {{totalpoints}}
										div.col-md-2.col-lg-2.col-xl-2


						+tab("Top")
							//h1 My Tips
							div.tipTableWrapper
								//+table(["#","First Name","Last Name","Username"],[["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
								div.row.table-striped.table-hover.tipTable
									div.row.tableHeader
										div.col-md-2.col-lg-2.col-xl-2

										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Tags
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Points
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Submitted By
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Date Submitted
										//th(width="20%") Tags
										//th(width="20%") Points
										//th(width="20%") Submitted By
										//th(width="20%") Date Submitted
										//th
									div.tableBody(style='max-height:250px;overflow:auto;')
										div.row.hoverButton(style='max-height:50px;overflow:auto;' ng-repeat='tip in topTips' ng-click = 'updateTip(tip)' ng-class-odd="'odd'" ng-class-even="'even'")
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a {{tip.tipTitle}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell(style='height:50px;overflow:auto;')
												span(ng-repeat="tipFilter in tip.filtersJson" ng-if='tipFilter.toggle')
													//+label-primary("{{tipFilter.name}}")
													label.label-primary(style='margin-right:3px;') {{tipFilter.name}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.tipPoints}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/profile/{{tip.submittedBy}}' title="View Profile" data-toggle="tooltip" data-placement="top" tooltip){{tip.submittedBy}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.dateSubmitted|date:"MM/dd/yyyy"}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/tipLib/{{tip._id}}')
													span.glyphicon.glyphicon-open(title="Open in Tip Library" data-toggle="tooltip" data-placement="top" tooltip)
									hr
									div.row.tableFooter
										div.col-md-2.col-lg-2.col-xl-2 
											span Total:
										div.col-md-2.col-lg-2.col-xl-2
										div.col-md-2.col-lg-2.col-xl-2 {{totalpoints}}
										div.col-md-2.col-lg-2.col-xl-2			
						+tab("Recent")
							//h1 My Tips
							div.tipTableWrapper
								//+table(["#","First Name","Last Name","Username"],[["1","Mark","Otto","@mdo"],["2","Jacob","Thornton","@fat"],["3","Larry","the Bird","@twitter"]])
								div.row.table-striped.table-hover.tipTable
									div.row.tableHeader
										div.col-md-2.col-lg-2.col-xl-2

										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Tags
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Points
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Submitted By
										div.col-md-2.col-lg-2.col-xl-2
											h5.display-3 Date Submitted
										//th(width="20%") Tags
										//th(width="20%") Points
										//th(width="20%") Submitted By
										//th(width="20%") Date Submitted
										//th
									div.tableBody(style='max-height:250px;overflow:auto;')
										div.row.hoverButton(style='max-height:50px;overflow:auto;' ng-repeat='tip in recentTips' ng-click = 'updateTip(tip)' ng-class-odd="'odd'" ng-class-even="'even'")
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a {{tip.tipTitle}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell(style='height:50px;overflow:auto;')
												span(ng-repeat="tipFilter in tip.filtersJson" ng-if='tipFilter.toggle')
													//+label-primary("{{tipFilter.name}}")
													label.label-primary(style='margin-right:3px;') {{tipFilter.name}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.tipPoints}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/profile/{{tip.submittedBy}}' title="View Profile" data-toggle="tooltip" data-placement="top" tooltip){{tip.submittedBy}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell {{tip.dateSubmitted|date:"MM/dd/yyyy"}}
											div.col-md-2.col-lg-2.col-xl-2.tip-table-cell
												a(href='/tipLib/{{tip._id}}')
													span.glyphicon.glyphicon-open(title="Open in Tip Library" data-toggle="tooltip" data-placement="top" tooltip)
									hr
									div.row.tableFooter
										div.col-md-2.col-lg-2.col-xl-2 
											span Total:
										div.col-md-2.col-lg-2.col-xl-2
										div.col-md-2.col-lg-2.col-xl-2 {{totalpoints}}
										div.col-md-2.col-lg-2.col-xl-2		



					//	#tipHeader.row(style="display:inline-block;width:100%;background-color: white;padding: 5px;border-radius: 5px;border-style: solid;border-width:thin;border-color: #ececec;")
					//		span.col-md-6.col-sm-6.col-xs-6(style='float:left') {{tip.tipTitle}}
					//		#tipPointsWrapper.col-md-2(style='margin-right:5px;float:left')
					//			span.small(style='') {{tip.tipPoints}} points
					//		#tipPointsData(style='float:left;margin-left:5px')
					//			span.small {{tip.dateSubmitted|date:"MM/dd/yyyy"}}				

				.tipsWrapper.contentWrapper#tipWrapper
							.tipTitleBlock.titleWrapper
								.tipTitle.titleWrapper.page-header(style="display:inline-block;width:100%;padding-bottom:3px;")
									h2(style="float:left;max-width:450px;margin-left: 3px;margin-top:15px;") {{tipTitle}}
									span#currentTipId(ng-show="false")
										{{currentTipId}}
									#pointsDiv(style="float:right;margin-left:5px;margin-right:-13px;")
										+label-default("{{currentTipPoints}}")
									h3(style="float:right;margin-top:20px;margin-top:15px;")
										button.btn.btn-default#dislikeButton(style="margin-right:5px;" ng-click="dislikeButtonClicked()")
											span.glyphicon.glyphicon-arrow-down
										button.btn.btn-default#likeButton(style="margin-right:5px;" ng-click="likeButtonClicked()")
											span.glyphicon.glyphicon-arrow-up
										button.btn.btn-default#loveButton(ng-click="loveButtonClicked()")
											span.glyphicon.glyphicon-heart

							#TipTitlePanel.panel.panel-default
								#panelBody.panel-body.panel-body(style="text-indent: 0px;padding-bottom:0px;")
									div.tipDescription#tipBody(style="text-indent: 0px;padding-bottom:0px;" ng-repeat="tipPart in tipBodyArray")			
										p#descBody(ng-bind-html='tipPart.tipDescription | to_trusted')

											br
											#imgDiv(ng-if="hasImage")
												img(ng-show="hasImage" ng-src="{{tipPart.imageFileName}}" style='width:100%;padding-top:2px;')				
									div#TagsAndSubmittedBy(style="text-indent: 0px;padding-bottom:0px;")

										#tipTagsDiv(ng-repeat='tipTag in tipTagsArray track by $index' style='display:inline-block;')
											span(ng-if='($index==0)' style='float:left')
												+label-info("Filters:")
											span(style='float:left')
												+label-primary("{{tipTag}}")
										#submittedByDiv.small(style="padding-top:5px")
											span Submitted By: 
												a(href="/profile/{{submittedBy}}"){{submittedBy}}
			.profilePageRightWrapper.col-xs-3.col-md-3.col-lg-3.col-xl-3
				div.rightWidgetTopContainer.row(style='height:200px')
					
				#rightWidgetContainer.contentWrapper
					.rightWidetWrapper
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Tips
							#dropdownWrapper.dropdown(style="float:left")
								span.label.label-default.dropdown-toggle#rightBarWidgetDropdown1(data-toggle='dropdown')
									{{rightBarSortType}}
									span.glyphicon.glyphicon-menu-down
								ul.dropdown-menu(aria-labelledby="rightBarWidgetDropdown1" display='')
									li(ng-repeat='sortFilter in rightBarSortFiltersArray')
										a(ng-click="navBarRightFilterClick(sortFilter)"){{sortFilter}}
						div.list-unstyled.row.hover(ng-repeat="tip in topTips | orderBy : 'tipPoints':true | limitTo:10" ng-show="true")
							.rightBarNavItem.row(ng-click="tipNavBarClicked(tip)" ng-mouseover='rightBarWidgetMouseOver(tip)' ng-mouseleave='navBarHoverRightMouseLeave(tip)')
								.div.navBarTopDiv(ng-show='true'  style='')
									.div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:5px')
										span#navTipTitle(){{tip.tipTitle}}
										span#navTipTitle(style='float:right'){{tip.tipPoints}}
								.div(ng-show='true' style='height:125px;margin-top:-20px')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='tip.imageDataJson.length > 0' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,0)}}' style='max-height: 100px;margin-top:10px;padding:0px;')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='tip.imageDataJson.length > 1' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,1)}}' style='max-height: 100px;margin-top:10px;padding:0px;')
								.div.row(ng-show='tip.hoverRightActive')
									div.col-xs-12.col-sm-12.col-md-12.col-lg-12
										div#navDescWrapper(ng-bind-html='tip.tipDescJson[1].tipDescription  | to_trusted' style='margin-left:-10px;padding-right: 10px;')
					.rightWidetWrapper
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Users
							#dropdownWrapper.dropdown(style="float:left")
								span.label.label-default.dropdown-toggle#rightBarWidgetDropdown2(data-toggle='dropdown')
									{{rightBarSortType2}}
									span.glyphicon.glyphicon-menu-down
								ul.dropdown-menu(aria-labelledby="rightBarWidgetDropdown2" display='')
									li(ng-repeat='sortFilter in rightBarSortFiltersArray')
										a(ng-click="navBarRightFilter2Click(sortFilter)"){{sortFilter}}
					.rightWidetWrapper
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Samples
							#dropdownWrapper.dropdown(style="float:left")
								span.label.label-default.dropdown-toggle#rightBarWidgetDropdown2(data-toggle='dropdown')
									{{rightBarSortType2}}
									span.glyphicon.glyphicon-menu-down
								ul.dropdown-menu(aria-labelledby="rightBarWidgetDropdown2" display='')
									li(ng-repeat='sortFilter in rightBarSortFiltersArray')
										a(ng-click="navBarRightFilter2Click(sortFilter)"){{sortFilter}}
