extends layout

append body
	.container(style="text:center")
		+alert-i-warning("The samples library is in development.  Eventually I hope this place to be a good source of samples for producers.  Filters and sorting will allow for artists to quickly find what they are looking for.","heart")
	.container(style="text:center")
		.titleBannerDiv()
				#titleName= title
		