<script>
//Sound cloud script
</script>
extends layout
append body
	.container()
		#signInWrapper
			.titleBannerDiv()
				#titleName= title
			#signInDetails
				+label-info("Email:")
				br
				input#signInInput.form-control
				+label-info("Password:")
				br
				input#passWordInput.form-control
				#btnSignInSubmit.keyButton(ng-click="signInSubmitClicked()")
					+btn-primary("Submit")
				#signInLinkWrapper
					a#signInLink(href="/signUp")
						span Not a member? Sign Up