<script>
//Sound cloud script
</script>
extends layout
append body
	.container.pageController(ng-controller="signInController" style="margin:0 auto;width:90%;max-width:966px;")
		#signInWrapper.formInputWrapper
			.titleBannerDiv()
				h3
					#titleName= title				
				//div.alert#note #{messages}
			//#soundCloudWrapper(ng-click='signInWithSoundCloud()')
			//	img(src='http://connect.soundcloud.com/2/btn-connect-sc-s.png')
			form#signInDetails(action="/signIn" method = "post")
				+label-info("Username:")
				br
				input#signInInput.form-control(name="username")
				+label-info("Password:")
				br
				input#passWordInput.form-control(type="password" name="password")
				#btnSignInSubmit.keyButton
					button.btn.btn-primary(type="submit")
						span Sign In
				#signInLinkWrapper
					a#signInLink(href="/signUp")
						span Not a member? Sign Up