extends layout

append body
	.pageController(ng-controller="bodyTipHelperController" style = '' id='controllerDiv' )
		.div.userDetailsDivTipLib
			.div.username
				span.greeting Hey there	
				a(href='/profile/{{username}}'){{username}}!
		.div(style="text-align:center;margin-top:65px")
			+alert-i-warning("Find your favorite music production tutorials and tips here!","heart")
		#stickyalias
		
		.row(ng-show='addFilterToggle')
			select(ng-options="f for f in filterHeaders" ng-model="filterSelected")
			span Filter Name 
			input(ng-model='filterName' type='text')
			span Parent
			select(ng-options="s.name for s in filters" ng-model="filterParent")
			button.btn.btn-default#filterAddButton(title="" ng-click="addFilter()") Add
		.row(ng-show='deleteFilterToggle')
			select(ng-options="f.name for f in filters" ng-model="filterSelectedDelete")
			button.btn.btn-default#filterDeleteButton(title="" ng-click="deleteFilter()") Delete

		.row
			#stickyaliasNavLeft
			#stickyheaderNavLeft
				#navBarWrapper().col-xs-3.col-sm-3.col-md-3.col-lg-3
					//#blockForMargin(style="height:11px;width:100%")
					#sortNavBarWrapper(style="display:inline-block;width:100%;margin-bottom:5px;")
						#labelSort
							+label-info("Sort by:")			
						#dropdownWrapper.dropdown(style="float:left")
							span.label.label-default.dropdown-toggle#navBarSortDropdown(data-toggle='dropdown')
								{{getSortType()}}
								span.glyphicon.glyphicon-menu-down
							ul.dropdown-menu(aria-labelledby="navBarSortDropdown")
								li(ng-repeat='sortFilter in sortFiltersArray')
									a(ng-click="navBarFilterClick(sortFilter)"){{sortFilter}}
						//label.label.label-default#navBarSortBtn(ng-click="sortByClicked()")
						//	{{arrowUnicode}}
						span#sortReverseButton.hoverButton.glyphicon.glyphicon-triangle-bottom.arrowBtnClass(ng-show="sortReverse" ng-click="sortReverseClicked()")
						span#sortReverseButton.hoverButton.glyphicon.glyphicon-triangle-top.arrowBtnClass(ng-show="!sortReverse" ng-click="sortReverseClicked()")
					navBarItem.list-unstyled.row.hover(ng-repeat="tip in tipArrayData | orderBy : getOrderByNavBar():sortReverse" ng-show="showItem(tip)")
						.tipNavItem.row.animated(ng-click="tipNavBarClicked(tip)" ng-mouseover='navBarHoverMouseOver(tip)'  ng-mouseleave='navBarHoverMouseLeave(tip)')
							.div.navBarTopDiv.row( ng-show='true' ng-class='{navBarTipActive:tip.isActive}' )
								.div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:5px;margin-top:-5px;')
									.div.col-xs-11.col-sm-11.col-md-11.col-lg-11
										span#navTipTitle.navTipTitle(){{tip.tipTitle}}
										span.navTipDate {{tip.dateSubmitted | date:'MM/dd/yy'}}
										span.tipTagsWrapper(style='margin-left:5px')
											div.tipTagNav(ng-repeat="tipTag in tip.filtersJson" style='display:inline-block;')				
												span(style='float:left' ng-show='tipTag.toggle')
													+label-primary("{{tipTag.name}}")
									.div.col-xs-1.col-sm-1.col-md-1.col-lg-1
										span.navTipPoints(style='float:right'){{tip.tipPoints}}
							.div.row.animated.navBarBottomRow(id='navBarBottomRow{{tip._id}}' ng-show='true')
								div.col-xs-6.col-sm-6.col-md-6.col-lg-6#imgNavWrapper(ng-show='tip.imageDataJson.length > 0' style='padding:0px')
									img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,0)}}' style='max-height: 105px;margin-top:10px;padding:0px;')
								div.col-xs-6.col-sm-6.col-md-6.col-lg-6#imgNavWrapper(ng-show='tip.imageDataJson.length > 1' style='padding:0px')
									img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,1)}}' style='max-height: 105px;margin-top:10px;padding:0px;')
							.div.row.navBarBottomRowOverlap(id='navBarBottomRowOverlap{{tip._id}}' ng-show='tip.hoverActive')
								div.col-xs-12.col-sm-12.col-md-12.col-lg-12
									div#navDescWrapper.navDescriptionWrapper(ng-bind-html='tip.tipDescJson[1].tipDescription  | to_trusted' style='')
						
			.col-xs-6.col-sm-6.col-md-6.col-lg-6#middleDivTipLib
				a.minimize.hover(ng-click='filtersToggle=!filtersToggle' ng-model='filtersToggle' ng-show='!filtersToggle') Show Filters
				a.minimize.hover(ng-click='filtersToggle=!filtersToggle' ng-model='filtersToggle' ng-show='filtersToggle') Hide Filters
				.row.filterBoxStyle#stickyheader(ng-style="filtersBoxStyle" ng-show='filtersToggle')
							
							div.filterWrapper#tipTypeFilterWrapper.btnWrapper.col-xs-3.col-sm-3.col-md-3.col-lg-3(style="margin-top:5px;")
								//.label.label-default() Type:
								div(style='display:inline-block')
									.label.label-primary(style='float:left;margin-top:5px;' ng-repeat="f in filters | orderBy: 'name'" ng-show="f.type == 'Type'" ng-class='{active:f.toggle}'  ng-click='filterClicked(f)') {{f.name}}
								//input.inputToggleClass(ng-model='theory_toggle'  type="checkbox",data-toggle="toggle" name='theoryInputYes' id='theoryInputYes')
								//.label.label-primary( ng-class='{active:theory_toggle}' ng-click='theory_toggle = !theory_toggle') Theory
								//input.inputToggleClass(ng-model='mixing_toggle' type="checkbox",data-toggle="toggle" name='mixingInputYes' id='mixingInputYes')
								//.label.label-primary( ng-class='{active:mixing_toggle}'  ng-click='mixing_toggle = !mixing_toggle') Mixing
								//input.inputToggleClass(ng-model='mastering_toggle' type="checkbox",data-toggle="toggle" name='masteringInputYes' id='masteringInputYes')
								//.label.label-primary( ng-class='{active:mastering_toggle}'  ng-click='mastering_toggle = !mastering_toggle') Mastering
								//input.inputToggleClass(ng-model='sound_design_toggle'  type="checkbox",data-toggle="toggle" name='soundDesignInputYes' id='soundDesignInputYes')
								//.label.label-primary( ng-class='{active:sound_design_toggle}'  ng-click='sound_design_toggle = !sound_design_toggle') Sound Design
								//input.inputToggleClass(ng-model='workflow_toggle' type="checkbox",data-toggle="toggle" name='workFlowInputYes' id='workFlowInputYes')
								//.label.label-primary( ng-class='{active:workflow_toggle}'  ng-click='workflow_toggle = !workflow_toggle') Work Flow
								.label.label-primary(ng-click="addFilterToggle = !addFilterToggle" ng-show='isAdmin()') Add
								.label.label-primary(ng-click="deleteFilterToggle = !deleteFilterToggle"  ng-show='isAdmin()') Delete
							div.filterWrapper#tipGenreFilterWrapper.col-xs-3.col-sm-3.col-md-3.col-lg-3(style="margin-top:5px;display:inline-block;").btnWrapper
								//.label.label-default() Genre:
								div(style='display:inline-block')
									.label.label-primary(style='float:left;margin-top:5px;' ng-repeat="f in filters | orderBy: 'name'" ng-show="f.type == 'Genre'" ng-class='{active:f.toggle}'  ng-click='filterClicked(f)') {{f.name}}
									
							div.filterWrapper#tipDAWFilterWrapper.col-xs-3.col-sm-3.col-md-3.col-lg-3(style="margin-top:5px;display:inline-block;").btnWrapper
								
								//+label-default("DAW:")
								div(style='display:inline-block')
									.label.label-primary(style='float:left;margin-top:5px;' ng-repeat="f in filters | orderBy: 'name'" ng-show="f.type == 'DAW'" ng-class='{active:f.toggle}'  ng-click='filterClicked(f)') {{f.name}}
									
							div.filterWrapper#tipVSTFilterWrapper.col-xs-3.col-sm-3.col-md-3.col-lg-3(style="margin-top:5px;display:inline-block;").btnWrapper
								
								//.label.label-default() VST:
								div(style='display:inline-block')
									.label.label-primary(style='float:left;margin-top:5px;' ng-repeat="f in filters | orderBy: 'name'" ng-show="f.type == 'VST'" ng-class='{active:f.toggle}'  ng-click='filterClicked(f)') {{f.name}}
				.div#scrollable()
					.tipsPageWrapper#tipsScrollWrapper(ng-hide="addATip()||editATip()")
						//h2
						//	#titleName= title


						//#prvButton.keyButton(ng-click="prevButtonClicked()")
							+btn-xs("Previous")
						//#nxtButton.keyButton(ng-click="nextButtonClicked()" style="float:right")
							+btn-xs("Next")
						//#addATipButton.keyButton(ng-click="addATipClicked()"  ng-show="showButton('Add')")
							+btn-xs("Add")
						//#editATipButton.keyButton(ng-click="editATipClicked()"  ng-show="showButton('Edit')")
							+btn-xs("Edit")
						//#deleteATipButton.keyButton(ng-click="deleteATipClicked()"  ng-show="showButton('Delete')")
							+btn-xs("Delete")
						div.contentWrapper(id='tipsWrapper{{tip._id}}' ng-repeat='tip in tipArrayData | orderBy : getOrderByNavBar():sortReverse' ng-show="showItem(tip)" ng-click='tipClicked(tip)')
							#tipTitleBlock.titleWrapper
								#tipTitle.titleWrapper.page-header(style="display:inline-block;width:100%;padding-bottom:3px;")


									h2(style="float:left;max-width:450px;margin-left: 3px;margin-top:15px;") {{tip.tipTitle}}
									span#currentTipId(ng-show="false")
										{{currentTipId}}
									span#currentTipIdToLoad(ng-show="false")
										span(ng-model='currentTipId') #{id}
									#pointsDiv(style="float:right;margin-left:5px;margin-right:-13px;")
										+label-default("{{tip.tipPoints}}")
									h3(style="float:right;margin-top:20px;margin-top:15px;")
										button.btn.btn-default#dislikeButton(title="downvote tip" style="margin-right:5px;" ng-click="dislikeButtonClicked(tip)" ng-class="{active:tip.isDisliked}" )
											span.glyphicon.glyphicon-arrow-down
										button.btn.btn-default#likeButton(title="upvote tip" style="margin-right:5px;" ng-click="likeButtonClicked(tip)" ng-class="{active:tip.isLiked}" )
											span.glyphicon.glyphicon-arrow-up
										button.btn.btn-default#loveButton(title="save tip" ng-click="loveButtonClicked(tip)" ng-class="{active:tip.isLoved}")
											span.glyphicon.glyphicon-heart

							#TipTitlePanel.panel.panel-default
								#panelBody.panel-body.panel-body(style="text-indent: 0px;padding-bottom:0px;")
									div.tipDescription.row#tipBody(style="text-indent: 0px;padding-bottom:0px;" ng-repeat="tipPart in tip.tipBodyArray")			
										div#descBody(ng-bind-html="tipPart.tipDescription | to_trusted")
										.col-xs-10.col-sm-10.col-md-10.col-lg-10.imgDiv(ng-if="tipPart.hasImage" style='margin-left:5%')
											img(ng-show="tipPart.hasImage" ng-src="{{tipPart.imageFileName}}" style='width:100%;padding-top:2px;')				
									div#TagsAndSubmittedBy(style="text-indent: 0px;padding-bottom:0px;padding-top:10px;")
										#tipTagsDiv(ng-repeat='tipTag in tip.filtersJson track by $index' style='display:inline-block;')
											
											span(style='float:left' ng-show='tipTag.toggle')
												+label-primary("{{tipTag.name}}")
										#submittedByDiv.small(style="padding-top:5px")
											span Submitted By: 
												a(href="/profile/{{tip.submittedBy}}"){{tip.submittedBy}}
											time.small(style='margin-left:2px'){{submittedDate|date:"MM/dd/yyyy"}}
							comment-list(content-id='1' ng-hide='addATip() ')
						//+carousel("sample",["{image:"resources/images/b01930a6957f7a1ffc3536132b554bb2",caption:"blah"}"])

				.addATipPageWrapper(ng-show="addATipToggle")
					#tipsFormWrapper.contentWrapper
						#TipTitleDescription
							input.form-control(type="text" id ="tipTitleInput" placeholder="*Title" style="margin-bottom:10px;" ng-model="tipTitleAdd")
							#descriptionWrapper(style="font-size:large")
								//span Description 1
								textarea#textAreaTip.form-control.tipDescInput(placeholder="*Tip Description" required ng-model="tipDescAdd")
							#descriptionButtonWrapper(style="display:inline-block; margin-bottom:5px;")

								button.btn(ng-click="subtractDescription()" style="float:left")
									span.glyphicon.glyphicon-minus
								button.btn(title="add description" ng-click="addDescription()" style="float:left")
									span.glyphicon.glyphicon-plus
								#noteWrapper(style="float:left;margin-left:5%;width:80%;")
									span(style="font-style:italic;") Note: Images are displayed in the order they are uploaded.  If you want an image between paragraphs, add a description.  The first image uploaded is displayed after the first description, the second image after the second description.. and so on.
						#uploadedImagesWrapper(style='display:inline-block;')
							#imageWrapper(ng-if='tipBodyArray' style='float:left;' ng-repeat='tipPart in tipImageArray' )
								img.img-thumbnail.imageThumbNail(class='imageAttached{{$index}}' ng-show="{{tipPart.hasImage}}" ng-src='{{tipPart.imageFileName}}' ng-click='editImageClicked($index);')
							#imageSelectedData(style='')
								{{imageSelectedData}}
								button.btn.btn-danger.btn-xs(ng-click='removeSelectedImage($index)' ng-disabled='!imageSelected')
									span.glyphicon.glyphicon-remove-sign
									span &nbsp Remove
						.imageUploaderInputWrapper(style="margin-top:5px;")
							.headerImageInput(style="font-size:small;color:#777777")
								span Image Uploader
								span(style='float:right') {{fileErrorMessage}}
							.inputWrapper						
								input.inputClass(type="file",nv-file-select uploader="uploader")
								ul
									li(ng-repeat="item in uploader.queue")
										{{item.file.name}}
										//button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
										//	span.glyphicon.glyphicon-upload
										//button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="item.isUploading")
										//	span.glyphicon.glyphicon-ban-circle
										button.btn.btn-default.btn-xs(ng-click="item.remove()" style=";color:black;margin-left:5px;")
											span.glyphicon.glyphicon-remove
							.progress
								.progress-bar(role="progressbar" ng-style="{width:uploader.progress + '%'}" style="width:0%;")
							#imgUploadButtonsDiv(ng-show="uploader.queue.length > 0" style='margin-bottom:5px;')
								button.btn.btn-danger.btn-xs(ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" )
												span.glyphicon.glyphicon-trash 
												&nbsp Remove all
								button.btn.btn-warning.btn-xs(ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" style='margin-left:5px;')
												span.glyphicon.glyphicon-ban-circle 
												&nbsp Cancel
								button.btn.btn-success.btn-xs(ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style='margin-left:5px;')
												span.glyphicon.glyphicon-upload
												&nbsp Upload 

						.headerFilterInput(style="font-size:small;color:#777777")
								span Add Filter Tags
						.filterBoxStyle(style='display:inline-block;width:100%;')


							.genereInputWrapper(style="")
								h7 Genres
								.btnWrapper(style="" ng-repeat = 'f in filters | orderBy:"name"'  ng-show="f.type == 'Genre'")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='' ng-model='f.inputToggle')
									.label.label-primary(){{f.name}}
							.theoryInputWrapper(style="")
								h7 Tip Type
								.btnWrapper(ng-repeat='f in filters |orderBy:"name"'  ng-show="f.type == 'Type'")
									input.inputClass(type="checkbox",data-toggle="toggle" name='theoryYes' id='' ng-model='f.inputToggle')
									.label.label-primary(){{f.name}}
			
							.vstInputWrapper(style="")
								h7 VST
								.btnWrapper(ng-repeat='f in filters |orderBy:"name"'  ng-show="f.type == 'VST'")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='' ng-model='f.inputToggle')
									+label-primary("{{f.name}}")
							.dawInputWrapper(style="")
								h7 DAW
								.btnWrapper(ng-repeat='f in filters |orderBy:"name"'  ng-show="f.type == 'DAW'")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{daw.dawName}}' id=''  ng-model='f.inputToggle')
									+label-primary("{{f.name}}")


							.viedoLinkInputWrapper(style="margin-top:5px;" ng-show='false')
								h7 Link Video							
									+input("text","videoLink","https://www.youtube.com/","")
							br
						.backAndSubmitWrapper(style='margin-top:5px;')
							.backToTipsButtonDiv(style='float:left' ng-click="backToTipsClicked()")
								+btn("Back")
							.submitButtonDiv(style='float:right;')
								input.btn.btn-success(value="Submit" type="submit" ng-click="submitButtonClicked()" ng-disabled="!isReadyForSubmit()")
							#readyForSubmitMessage(style='float:right;margin-right:15px;margin-top:6px;color:#383838')
									span {{readyForSubmitMessage}}


				.editATipPageWrapper(ng-show="editATipToggle")
					#tipsFormWrapper.contentWrapper

						input.form-control(type='text' id='tipTitleEditInput' placeholder='Title')
						#editDescriptionWrapper
							//h6 Description
							textarea#textAreaEditTip.form-control.tipDescInput(placeholder="Tip Description" required)
						#editDescriptionButtonWrapper(style="display:inline-block")
							button.btn(ng-click="editAddDescription()" style="float:left")
								span.glyphicon.glyphicon-plus
							button.btn(ng-click="editSubtractDescription()" style="float:left")
								span.glyphicon.glyphicon-minus
							#noteWrapper(style="float:left;margin-left:5%;width:80%;")
									span(style="font-style:italic;") Note: For now, images are displayed in the order they are uploaded.  If you want an image between paragraphs, add a description.  The first image uploaded is displayed after the first description, the second image after the second description.. and so on.
						#uploadedImagesWrapper(style='display:inline-block;')
							#imageWrapper(style='float:left; width:130px; height:130px' ng-repeat='tipPart in tipImageArray' )
								img.img-thumbnail.imageThumbNail(class='imageAttached{{$index}}' ng-show="tipPart.hasImage" ng-src='{{tipPart.imageFileName}}' ng-click='editImageClicked($index);')
							#imageSelectedData(style='')
								{{imageSelectedData}}
								button.btn.btn-danger.btn-xs(ng-show = 'tipImageArray.length>0' ng-click='removeSelectedImage()' ng-disabled='!imageSelected')
									span.glyphicon.glyphicon-remove-sign
									span &nbsp Remove
						.imageUploaderInputWrapper(style="margin-top:5px;")
							.headerImageInput(style="font-size:small;color:#777777")
								span Image Uploader
								span(style='float:right') {{fileErrorMessage}}
							.inputWrapper						
								input.inputClass(type="file",nv-file-select uploader="uploader")
								ul
									li(ng-repeat="item in uploader.queue")
										{{item.file.name}}
										//button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
										//	span.glyphicon.glyphicon-upload
										//button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="item.isUploading")
										//	span.glyphicon.glyphicon-ban-circle
										button.btn.btn-default.btn-xs(ng-click="item.remove()" style=";color:black;margin-left:5px;")
											span.glyphicon.glyphicon-remove
							.progress
								.progress-bar(role="progressbar" ng-style="{width:uploader.progress + '%'}" style="width:0%;")
							#imgUploadButtonsDiv(ng-show="uploader.queue.length > 0" style='margin-bottom:5px;')
								button.btn.btn-danger.btn-xs(ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" )
												span.glyphicon.glyphicon-trash 
												&nbsp Remove all
								button.btn.btn-warning.btn-xs(ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" style='margin-left:5px;')
												span.glyphicon.glyphicon-ban-circle 
												&nbsp Cancel
								button.btn.btn-success.btn-xs(ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style='margin-left:5px;')
												span.glyphicon.glyphicon-upload
												&nbsp Upload 
						.filterBoxStyle(style='display:inline-block;width:100%;')
							.genereInputWrapper(style="")
								h7 Genres
								.btnWrapper(style="" ng-repeat = "f in filters | orderBy:'name'"  ng-show="f.type == 'Genre'")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='editInputId{{f.name}}' ng-model='f.inputToggle')
									+label-primary("{{f.name}}")

							.theoryInputWrapper(style="")
								h7 Tip Type
								.btnWrapper(style="" ng-repeat = "f in filters | orderBy:'name'"  ng-show="f.type == 'Type'")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='editInputId{{f.name}}' ng-model='f.inputToggle')
									+label-primary("{{f.name}}")
							.vstInputWrapper()
								h7 VST
								.btnWrapper(style="" ng-repeat = "f in filters | orderBy:'name'"  ng-show="f.type == 'VST'")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='editInputId{{f.name}}' ng-model='f.inputToggle')
									+label-primary("{{f.name}}")
							.dawInputWrapper(style="margin-top:5px;")
								h7 DAW
								.btnWrapper(style="" ng-repeat = "f in filters | orderBy:'name'"  ng-show="f.type == 'DAW'")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{f.name}}' id='editInputId{{f.name}}' ng-model='f.inputToggle')
									+label-primary("{{f.name}}")

						.viedoLinkInputWrapper(style="margin-top:5px;" ng-show='false')
							h7 Link Video							
								+input("text","editVideoLink","https://www.youtube.com/","")

						.backAndSubmitWrapper(style='display:inline-block;width:100%')
							.backToTipsButtonDiv(style='float:left' ng-click="backToTipsClicked()")
								+btn-primary("Back")
							.submitButtonDiv(style='float:right' ng-click="editSubmitButtonClicked()")
								+submit-primary("Submit")


				.signUpForTipsEmailWrapper(style='margin-top:10px' ng-hide="true")
					+accordion("Sign Up for tips email report")
						+accordion-item-default("Tip Library Email Report","sample")
							p.textWrapper If you would like to sign up for a monthly email report of the tips added to the library, please sign up with us below.  
							form.well(id='form-signUp', ng-submit="signUpEmailReportSubmit()")
								.form-group
									label Email
									input.form-control(type='text',id='userEmailId',name='userEmail',ng-model="emailListSignUpUserEmail")
								.form-group
									label Password
									input.form-control(type='password',id='passwordId',name='userPass',ng-model="emailListSignUpUserPassword")
								.form-group
									label Password Verify
									input.form-control(type='password',id='passwordVerifyId',name='userPassVerify',ng-model="emailListSignUpUserPasswordVerify")
								button(type='button').btn.btn-default.button-rememember-me
									span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
									|  Remember Me
								button(type='submit' ng-disabled="signUpDisabled()").btn.btn-primary.button-sign-in
									span.glyphicon.glyphicon-ok
									|  Sign Up
				#ButtonWrapper(style="display:inline-block;width:100%" ng-hide="addATip()")
					#prvButton.keyButton(ng-click="prevButtonClicked()")
						+btn-xs("Previous")
					#nxtButton.keyButton(ng-click="nextButtonClicked()" style="float:right")
						+btn-xs("Next")
					#addATipButton.keyButton(ng-click="addATipClicked()"  ng-show="showButton('Add')")
						+btn-xs("Add")
					#editATipButton.keyButton(ng-click="editATipClicked()"  ng-show="showButton('Edit')")
						+btn-xs("Edit")
					#deleteATipButton.keyButton(ng-click="deleteATipClicked()"  ng-show="showButton('Delete')")
						+btn-xs("Delete")
					#erasePoints.keyButton(ng-click="updateTipPoints(0)"  ng-show="showButton('ErasePoints')")
						+btn-xs("0 Points")
				
				.errorDiv(ng-bind="responseData")
			#stickyaliasNavLeft
			a.minimize(ng-click='toggleNavBarRight()') Toggle Nav
			#stickyheaderNavRight.col-xs-3.col-sm-3.col-md-3.col-lg-3(ng-show='navRightToggle')
				#rightWidgetContainer.contentWrapper
					.rightWidetWrapper#topTipsList(ng-hide='true')
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Tips
							#dropdownWrapper.dropdown(style="float:left")
								span.label.label-default.dropdown-toggle#rightBarWidgetDropdown1(data-toggle='dropdown')
									{{rightBarSortType}}
									span.glyphicon.glyphicon-menu-down
								ul.dropdown-menu(aria-labelledby="rightBarWidgetDropdown1" display='')
									li(ng-repeat='sortFilter in rightBarSortFiltersArray')
										a(ng-click="navBarRightFilterClick(sortFilter)"){{sortFilter}}
						div.list-unstyled.row.hover(ng-repeat="tip in tipArrayData | orderBy : 'tipPoints':true | limitTo:10" ng-show="true")
							.rightBarNavItem.row(ng-click="tipNavBarClicked(tip)" ng-mouseleave='navBarHoverRightMouseLeave(tip)')
								.div.navBarTopDiv.row(ng-show='tip.hoverRightActive' ng-mouseover='rightBarWidgetMouseOver(tip)' style='')
									.div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:5px;margin-top:-5px;')
										.div.col-xs-11.col-sm-11.col-md-11.col-lg-11
											span#navTipTitle.navTipTitle(){{tip.tipTitle}}
										.div.col-xs-1.col-sm-1.col-md-1.col-lg-1
											span.navTipPoints(style='float:right'){{tip.tipPoints}}
								.div.row(ng-show='true' style='height:125px;')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='tip.imageDataJson.length > 0' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,0)}}' style='max-height: 100px;margin-top:10px;padding:0px;')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='tip.imageDataJson.length > 1' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{getImageSrc(tip,1)}}' style='max-height: 100px;margin-top:10px;padding:0px;')
								.div.row(ng-show='tip.hoverRightActive')
									div.col-xs-12.col-sm-12.col-md-12.col-lg-12
										div#navDescWrapper(ng-bind-html='tip.tipDescJson[1].tipDescription  | to_trusted' style='margin-left:-10px;padding-right: 10px;')
					.rightWidetWrapper
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Users
							select#dropdownWrapper(style='float:left' ng-model='filterPeriodTopUsersDropDown' ng-show='false')
									option(ng-repeat='sortFilter in rightBarSortFiltersArray' ng-value='sortFilter')
										span {{sortFilter}}
						div.list-unstyled.row.hover(ng-repeat="user in topUsers | orderBy : 'totalpoints':true | limitTo:10" ng-show="user.userName")
							.rightBarNavItem.row(ng-click="userNavBarClicked(user)" ng-mouseover='rightBarWidgetMouseOver(user)' ng-mouseleave='navBarHoverRightMouseLeave(user)')
								.div.navBarTopDiv.row(ng-show='true'  style='')
									.div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:5px;margin-top:-5px;')
										.div.col-xs-4.col-sm-4.col-md-4.col-lg-4
											span#navTipTitle(style='font-style: italic;background-color: white;padding: 5px;border-radius: 5px;opacity: 1;'){{user.userName}}
										.div.col-xs-4.col-sm-4.col-md-4.col-lg-4
										.div.col-xs-3.col-sm-3.col-md-3.col-lg-3
										.div.col-xs-1.col-sm-1.col-md-1.col-lg-1
											span.userTotalPoints(style='float:right'){{user.totalpoints}}
										
										
								.div.row.animated.navBarBottomRow(ng-show='true' style='height:125px;')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='user.profileImageJson.length > 0' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{user.profileImageJson[0].image}}' style='min-height: 100px;margin-top:10px;padding:0px;')
									div.col-xs-6.col-sm-6.col-md-6.col-lg-6.imgNavWrapper(ng-show='user.profileImageJson.length > 0' style='padding:0px;height:125px')
										img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(ng-src='{{user.bannerImageJson[0].image}}' style='max-height: 100px;margin-top:10px;padding:0px;')
								.div.row.navBarBottomRowUserBioOverlap( ng-show='user.hoverRightActive')
									div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='margin-left:-5px')
										h4.nameWrapper(style='margin-bottom:5px;')
											span(ng-bind-html='user.profileMetaDataJson.firstName  | to_trusted')
											span(ng-bind-html='user.profileMetaDataJson.lastName  | to_trusted' style='margin-left:2px;')
										h6(ng-bind-html='user.profileMetaDataJson.city  | to_trusted' style='margin-top:-3px;margin-left:2px;')
										span(ng-bind-html='user.profileMetaDataJson.bio  | to_trusted')
					.rightWidetWrapper
						#header(style='display:inline-block')
							#labelSort
								.label.label-info Top Samples
							#dropdownWrapper.dropdown(style="float:left")
								span.label.label-default.dropdown-toggle#rightBarWidgetDropdown2(data-toggle='dropdown')
									{{rightBarSortType2}}
									span.glyphicon.glyphicon-menu-down
								ul.dropdown-menu(aria-labelledby="rightBarWidgetDropdown2" display='')
									li(ng-repeat='sortFilter in rightBarSortFiltersArray')
										a(ng-click="navBarRightFilter2Click(sortFilter)"){{sortFilter}}
