extends layout

append body
	.pageController(ng-controller="bodyTipHelperController" style = '' )
		.div(style="")
			+alert-i-warning("Find your favorite music production tutorials and tips here!","heart")
		
		#filterWrapper.row.filterBoxStyle(ng-style="filtersBoxStyle" )
							+label-info("Filters:")
							tipTypeFilterWrapper(style="margin-top:5px;display:inline-block;")
							.btnWrapper
								+label-default("Type:")
								input.inputToggleClass(ng-click="theoryToggle()" type="checkbox",data-toggle="toggle" name='theoryInputYes' id='theoryInputYes')
								+label-primary("Theory")
								input.inputToggleClass(ng-click="mixingToggle()" type="checkbox",data-toggle="toggle" name='mixingInputYes' id='mixingInputYes')
								+label-primary("Mixing")
								input.inputToggleClass(ng-click="masteringToggle()" type="checkbox",data-toggle="toggle" name='masteringInputYes' id='masteringInputYes')
								+label-primary("Mastering")
								input.inputToggleClass(ng-click="soundDesignToggle()" type="checkbox",data-toggle="toggle" name='soundDesignInputYes' id='soundDesignInputYes')
								+label-primary("Sound Design")
								input.inputToggleClass(ng-click="workflowToggle()" type="checkbox",data-toggle="toggle" name='workFlowInputYes' id='workFlowInputYes')
								+label-primary("Work Flow")

							tipGenreFilterWrapper(style="margin-top:5px;display:inline-block;").btnWrapper
								.btnWrapper(style="float:left")
									+label-default("Genre:")
								.genreButton(ng-repeat = "genre in genreArray" style="float:left")
									input.inputToggleClass(type="checkbox",data-toggle="toggle" name='{{genre.genreName}}' id='filterGenreId{{genre.genreName}}' ng-click="filterGenreClicked(genre.genreName)")
									+label-primary("{{genre.genreName}}")
							tipDAWFilterWrapper(style="margin-top:5px;display:inline-block;").btnWrapper
								.btnWrapper(style="float:left")
									+label-default("DAW:")
								.dawButton(style="float:left" ng-repeat = "daw in dawArray")							
									input.inputToggleClass(type="checkbox",data-toggle="toggle" name='{{daw.dawName}}' id='inputDawId{{daw.dawName}}' ng-click="filterDawClicked(daw.dawName)")
									+label-primary("{{daw.dawName}}")
							tipVSTFilterWrapper(style="margin-top:5px;display:inline-block;").btnWrapper
								.btnWrapper(style="float:left")
									+label-default("VST:")
								.vstButton(style="float:left" ng-repeat = "vst in vstArray")							
									input.inputToggleClass(type="checkbox",data-toggle="toggle" name='{{vst.vstName}}' id='inputDawId{{vst.vstName}}' ng-click="filterVstClicked(vst.vstName)")
									+label-primary("{{vst.vstName}}")
			
		.row
			#navBarWrapper.col-xs-3.col-sm-3.col-md-3.col-lg-3()
				//#blockForMargin(style="height:11px;width:100%")
				#sortNavBarWrapper(style="display:inline-block;width:100%;margin-bottom:5px;")
					#labelSort
						+label-info("Sort by:")			
					#dropdownWrapper.dropdown(style="float:left")
						span.label.label-default.dropdown-toggle#navBarSortDropdown(data-toggle='dropdown')
							{{getSortType()}}
							span.glyphicon.glyphicon-menu-down
						ul.dropdown-menu(aria-labelledby="navBarSortDropdown")
							li(ng-repeat='sortFilter in sortFiltersArray')
								a(ng-click="navBarFilterClick(sortFilter)"){{sortFilter}}
					//label.label.label-default#navBarSortBtn(ng-click="sortByClicked()")
					//	{{arrowUnicode}}
					span#sortReverseButton.hoverButton.glyphicon.glyphicon-triangle-bottom.arrowBtnClass(ng-show="sortReverse" ng-click="sortReverseClicked()")
					span#sortReverseButton.hoverButton.glyphicon.glyphicon-triangle-top.arrowBtnClass(ng-show="!sortReverse" ng-click="sortReverseClicked()")
				navBarItem.list-unstyled.row.hover(ng-repeat="tip in tipArrayData | orderBy : getOrderByNavBar():sortReverse" ng-show="showItem(tip)")
					.tipNavItem.row.animated(ng-click="tipNavBarClicked(tip)"  ng-mouseleave='navBarHoverMouseLeave(tip)')
						.div.navBarTopDiv.row(ng-mouseover='navBarHoverMouseOver(tip)' style='')
							.div.col-xs-12.col-sm-12.col-md-12.col-lg-12(style='padding-left:5px')
								
								span#navTipTitle(){{tip.tipTitle}}
								span#navTipTitle(style='float:right'){{tip.tipPoints}}
						.div.row.animated.navBarBottomRow(id='navBarBottomRow{{tip._id}}' ng-show='tip.hoverActive')
							div.col-xs-6.col-sm-6.col-md-6.col-lg-6#imgNavWrapper(mang-show='tip.imageDataJson.length > 0' style='padding:0px')
								img.thumbnail.hover.hidden-xs.col-sm-12.col-md-12.col-lg-12(src='{{getImageSrc(tip)}}' style='max-height: 100px;margin-top:10px;padding:0px;')
						.div.row.navBarBottomRowOverlap(id='navBarBottomRowOverlap{{tip._id}}' ng-show='tip.hoverActive')
							div.col-xs-12.col-sm-12.col-md-12.col-lg-12
								div#navDescWrapper(ng-bind-html='tip.tipDescJson[1].tipDescription  | to_trusted' style='margin-left:-10px;padding-right: 10px;')
									
			.col-xs-6.col-sm-6.col-md-6.col-lg-6()
				.tipsPageWrapper(ng-hide="addATip()||editATip()")
					//h2
					//	#titleName= title


					#prvButton.keyButton(ng-click="prevButtonClicked()")
						+btn-xs("Previous")
					#nxtButton.keyButton(ng-click="nextButtonClicked()" style="float:right")
						+btn-xs("Next")
					#addATipButton.keyButton(ng-click="addATipClicked()"  ng-show="showButton('Add')")
						+btn-xs("Add")
					#editATipButton.keyButton(ng-click="editATipClicked()"  ng-show="showButton('Edit')")
						+btn-xs("Edit")
					#deleteATipButton.keyButton(ng-click="deleteATipClicked()"  ng-show="showButton('Delete')")
						+btn-xs("Delete")
					#tipsWrapper.contentWrapper
						#tipTitleBlock.titleWrapper
							#tipTitle.titleWrapper.page-header(style="display:inline-block;width:100%;padding-bottom:3px;")


								h2(style="float:left;max-width:450px;margin-left: 3px;margin-top:15px;") {{tipTitle}}
								span#currentTipId(ng-show="false")
									{{currentTipId}}
								span#currentTipIdToLoad(ng-show="false")
									#{id}
								#pointsDiv(style="float:right;margin-left:5px;margin-right:-13px;")
									+label-default("{{currentTipPoints}}")
								h3(style="float:right;margin-top:20px;margin-top:15px;")
									button.btn.btn-default#dislikeButton(title="downvote tip" style="margin-right:5px;" ng-click="dislikeButtonClicked()")
										span.glyphicon.glyphicon-arrow-down
									button.btn.btn-default#likeButton(title="upvote tip" style="margin-right:5px;" ng-click="likeButtonClicked()")
										span.glyphicon.glyphicon-arrow-up
									button.btn.btn-default#loveButton(title="save tip" ng-click="loveButtonClicked()")
										span.glyphicon.glyphicon-heart

						#TipTitlePanel.panel.panel-default
							#panelBody.panel-body.panel-body(style="text-indent: 0px;padding-bottom:0px;")
								div.tipDescription.row#tipBody(style="text-indent: 0px;padding-bottom:0px;" ng-repeat="tipPart in tipBodyArray")			
									div#descBody(ng-bind-html="tipPart.tipDescription | to_trusted")
									.col-xs-10.col-sm-10.col-md-10.col-lg-10.imgDiv(ng-if="tipPart.hasImage" style='margin-left:5%')
										img(ng-show="tipPart.hasImage" ng-src="{{tipPart.imageFileName}}" style='width:100%;padding-top:2px;')				
								div#TagsAndSubmittedBy(style="text-indent: 0px;padding-bottom:0px;padding-top:10px;")
									#tipTagsDiv(ng-repeat='tipTag in tipTagsArray track by $index' style='display:inline-block;')
										span(ng-if='($index==0)' style='float:left')
											+label-info("Filters:")
										span(style='float:left')
											+label-primary("{{tipTag}}")
									#submittedByDiv.small(style="padding-top:5px")
										span Submitted By: 
											a(href="/profile/{{submittedBy}}"){{submittedBy}}
										time.small(style='margin-left:2px'){{submittedDate|date:"MM/dd/yyyy"}}
					//+carousel("sample",["{image:"resources/images/b01930a6957f7a1ffc3536132b554bb2",caption:"blah"}"])

				.addATipPageWrapper(ng-show="addATipToggle")
					#tipsFormWrapper.contentWrapper
						#TipTitleDescription
							input.form-control(type="text" id ="tipTitleInput" placeholder="*Title" style="margin-bottom:10px;" ng-model="tipTitleAdd")
							#descriptionWrapper(style="font-size:large")
								//span Description 1
								textarea#textAreaTip.form-control.tipDescInput(placeholder="*Tip Description" required ng-model="tipDescAdd")
							#descriptionButtonWrapper(style="display:inline-block; margin-bottom:5px;")

								button.btn(ng-click="subtractDescription()" style="float:left")
									span.glyphicon.glyphicon-minus
								button.btn(title="add description" ng-click="addDescription()" style="float:left")
									span.glyphicon.glyphicon-plus
								#noteWrapper(style="float:left;margin-left:5%;width:80%;")
									span(style="font-style:italic;") Note: Images are displayed in the order they are uploaded.  If you want an image between paragraphs, add a description.  The first image uploaded is displayed after the first description, the second image after the second description.. and so on.
						#uploadedImagesWrapper(style='display:inline-block;')
							#imageWrapper(ng-if='tipBodyArray' style='float:left;' ng-repeat='tipPart in tipImageArray' )
								img.img-thumbnail.imageThumbNail(class='imageAttached{{$index}}' ng-show="{{tipPart.hasImage}}" src='{{tipPart.imageFileName}}' ng-click='editImageClicked($index);')
							#imageSelectedData(style='')
								{{imageSelectedData}}
								button.btn.btn-danger.btn-xs(ng-click='removeSelectedImage($index)' ng-disabled='!imageSelected')
									span.glyphicon.glyphicon-remove-sign
									span &nbsp Remove
						.imageUploaderInputWrapper(style="margin-top:5px;")
							.headerImageInput(style="font-size:small;color:#777777")
								span Image Uploader
								span(style='float:right') {{fileErrorMessage}}
							.inputWrapper						
								input.inputClass(type="file",nv-file-select uploader="uploader")
								ul
									li(ng-repeat="item in uploader.queue")
										{{item.file.name}}
										//button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
										//	span.glyphicon.glyphicon-upload
										//button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="item.isUploading")
										//	span.glyphicon.glyphicon-ban-circle
										button.btn.btn-default.btn-xs(ng-click="item.remove()" style=";color:black;margin-left:5px;")
											span.glyphicon.glyphicon-remove
							.progress
								.progress-bar(role="progressbar" ng-style="{width:uploader.progress + '%'}" style="width:0%;")
							#imgUploadButtonsDiv(ng-show="uploader.queue.length > 0" style='margin-bottom:5px;')
								button.btn.btn-danger.btn-xs(ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" )
												span.glyphicon.glyphicon-trash 
												&nbsp Remove all
								button.btn.btn-warning.btn-xs(ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" style='margin-left:5px;')
												span.glyphicon.glyphicon-ban-circle 
												&nbsp Cancel
								button.btn.btn-success.btn-xs(ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style='margin-left:5px;')
												span.glyphicon.glyphicon-upload
												&nbsp Upload 

						.headerFilterInput(style="font-size:small;color:#777777")
								span Add Filter Tags
						.filterBoxStyle(style='display:inline-block;width:100%;')


							.genereInputWrapper(style="")
								h7 Genres
								.btnWrapper(style="" ng-repeat = "genre in genreArray")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{genre.genreName}}' id='inputGenreId{{genre.genreName}}')
									+label-primary("{{genre.genreName}}")

							.theoryInputWrapper(style="")
								h7 Tip Type
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='theoryYes' id='theoryYes')
									+label-primary("Theory")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='mixingYes' id='mixingYes')
									+label-primary("Mixing")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='masteringYes' id='masteringYes')
									+label-primary("Mastering")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='workFlowYes' id='workFlowYes')
									+label-primary("Work Flow")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='soundDesignYes' id='soundDesignYes')
									+label-primary("Sound Design")
							.vstInputWrapper(style="")
								h7 VST
								.btnWrapper(ng-repeat = "vst in vstArray")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{vst.vstName}}' id='inputVstId{{vst.vstName}}')
									+label-primary("{{vst.vstName}}")
							.dawInputWrapper(style="")
								h7 DAW
								.btnWrapper( ng-repeat = "daw in dawArray")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{daw.dawName}}' id='inputDawId{{daw.dawName}}')
									+label-primary("{{daw.dawName}}")


							.viedoLinkInputWrapper(style="margin-top:5px;" ng-show='false')
								h7 Link Video							
									+input("text","videoLink","https://www.youtube.com/","")
							br
						.backAndSubmitWrapper(style='margin-top:5px;')
							.backToTipsButtonDiv(style='float:left' ng-click="backToTipsClicked()")
								+btn("Back")
							.submitButtonDiv(style='float:right;')
								input.btn.btn-success(value="Submit" type="submit" ng-click="submitButtonClicked()" ng-disabled="!isReadyForSubmit()")
							#readyForSubmitMessage(style='float:right;margin-right:15px;margin-top:6px;color:#383838')
									span {{readyForSubmitMessage}}


				.editATipPageWrapper(ng-show="editATipToggle")
					#tipsFormWrapper.contentWrapper

						input.form-control(type='text' id='tipTitleEditInput' placeholder='Title')
						#editDescriptionWrapper
							//h6 Description
							textarea#textAreaEditTip.form-control.tipDescInput(placeholder="Tip Description" required)
						#editDescriptionButtonWrapper(style="display:inline-block")
							button.btn(ng-click="editAddDescription()" style="float:left")
								span.glyphicon.glyphicon-plus
							button.btn(ng-click="editSubtractDescription()" style="float:left")
								span.glyphicon.glyphicon-minus
							#noteWrapper(style="float:left;margin-left:5%;width:80%;")
									span(style="font-style:italic;") Note: For now, images are displayed in the order they are uploaded.  If you want an image between paragraphs, add a description.  The first image uploaded is displayed after the first description, the second image after the second description.. and so on.
						#uploadedImagesWrapper(style='display:inline-block;')
							#imageWrapper(style='float:left; width:130px; height:130px' ng-repeat='tipPart in tipImageArray' )
								img.img-thumbnail.imageThumbNail(class='imageAttached{{$index}}' ng-show="tipPart.hasImage" src='{{tipPart.imageFileName}}' ng-click='editImageClicked($index);')
							#imageSelectedData(style='')
								{{imageSelectedData}}
								button.btn.btn-danger.btn-xs(ng-show = 'tipImageArray.length>0' ng-click='removeSelectedImage()' ng-disabled='!imageSelected')
									span.glyphicon.glyphicon-remove-sign
									span &nbsp Remove
						.imageUploaderInputWrapper(style="margin-top:5px;")
							.headerImageInput(style="font-size:small;color:#777777")
								span Image Uploader
								span(style='float:right') {{fileErrorMessage}}
							.inputWrapper						
								input.inputClass(type="file",nv-file-select uploader="uploader")
								ul
									li(ng-repeat="item in uploader.queue")
										{{item.file.name}}
										//button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
										//	span.glyphicon.glyphicon-upload
										//button.btn.btn-warning.btn-xs(ng-click="item.cancel()" ng-disabled="item.isUploading")
										//	span.glyphicon.glyphicon-ban-circle
										button.btn.btn-default.btn-xs(ng-click="item.remove()" style=";color:black;margin-left:5px;")
											span.glyphicon.glyphicon-remove
							.progress
								.progress-bar(role="progressbar" ng-style="{width:uploader.progress + '%'}" style="width:0%;")
							#imgUploadButtonsDiv(ng-show="uploader.queue.length > 0" style='margin-bottom:5px;')
								button.btn.btn-danger.btn-xs(ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" )
												span.glyphicon.glyphicon-trash 
												&nbsp Remove all
								button.btn.btn-warning.btn-xs(ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" style='margin-left:5px;')
												span.glyphicon.glyphicon-ban-circle 
												&nbsp Cancel
								button.btn.btn-success.btn-xs(ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" style='margin-left:5px;')
												span.glyphicon.glyphicon-upload
												&nbsp Upload 
						.filterBoxStyle(style='display:inline-block;width:100%;')
							.genereInputWrapper(style="")
								h7 Genres
								.btnWrapper(style="" ng-repeat = "genre in genreArray")
									//+toggle-primary("{{genre.genreName}}")
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{genre.genreName}}' id='editInputGenreId{{genre.genreName}}')
									+label-primary("{{genre.genreName}}")

							.theoryInputWrapper(style="")
								h7 Tip Type
								.btnWrapper							
									input.inputClass(type="checkbox",data-toggle="toggle" name='theoryYes' id='editTheoryYes')
									+label-primary("Theory")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='mixingYes' id='editMixingYes')
									+label-primary("Mixing")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='masteringYes' id='editMasteringYes')
									+label-primary("Mastering")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='workFlowYes' id='editWorkFlowYes')
									+label-primary("Work Flow")
								.btnWrapper
									input.inputClass(type="checkbox",data-toggle="toggle" name='soundDesignYes' id='editSoundDesignYes')
									+label-primary("Sound Design")
							.vstInputWrapper()
								h7 VST
								.btnWrapper(style="" ng-repeat = "vst in vstArray")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{vst.vstName}}' id='editInputVstId{{vst.vstName}}')
									+label-primary("{{vst.vstName}}")
							.dawInputWrapper(style="margin-top:5px;")
								h7 DAW
								.btnWrapper(style="" ng-repeat = "daw in dawArray")							
									input.inputClass(type="checkbox",data-toggle="toggle" name='{{daw.dawName}}' id='editInputDawId{{daw.dawName}}')
									+label-primary("{{daw.dawName}}")

						.viedoLinkInputWrapper(style="margin-top:5px;" ng-show='false')
							h7 Link Video							
								+input("text","editVideoLink","https://www.youtube.com/","")

						.backAndSubmitWrapper(style='display:inline-block;width:100%')
							.backToTipsButtonDiv(style='float:left' ng-click="backToTipsClicked()")
								+btn-primary("Back")
							.submitButtonDiv(style='float:right' ng-click="editSubmitButtonClicked()")
								+submit-primary("Submit")


				.signUpForTipsEmailWrapper(style='margin-top:10px' ng-hide="true")
					+accordion("Sign Up for tips email report")
						+accordion-item-default("Tip Library Email Report","sample")
							p.textWrapper If you would like to sign up for a monthly email report of the tips added to the library, please sign up with us below.  
							form.well(id='form-signUp', ng-submit="signUpEmailReportSubmit()")
								.form-group
									label Email
									input.form-control(type='text',id='userEmailId',name='userEmail',ng-model="emailListSignUpUserEmail")
								.form-group
									label Password
									input.form-control(type='password',id='passwordId',name='userPass',ng-model="emailListSignUpUserPassword")
								.form-group
									label Password Verify
									input.form-control(type='password',id='passwordVerifyId',name='userPassVerify',ng-model="emailListSignUpUserPasswordVerify")
								button(type='button').btn.btn-default.button-rememember-me
									span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
									|  Remember Me
								button(type='submit' ng-disabled="signUpDisabled()").btn.btn-primary.button-sign-in
									span.glyphicon.glyphicon-ok
									|  Sign Up
				#ButtonWrapper(style="display:inline-block;width:100%" ng-hide="addATip()")
					#prvButton.keyButton(ng-click="prevButtonClicked()")
						+btn-xs("Previous")
					#nxtButton.keyButton(ng-click="nextButtonClicked()" style="float:right")
						+btn-xs("Next")
					#addATipButton.keyButton(ng-click="addATipClicked()"  ng-show="showButton('Add')")
						+btn-xs("Add")
					#editATipButton.keyButton(ng-click="editATipClicked()"  ng-show="showButton('Edit')")
						+btn-xs("Edit")
					#deleteATipButton.keyButton(ng-click="deleteATipClicked()"  ng-show="showButton('Delete')")
						+btn-xs("Delete")
					#erasePoints.keyButton(ng-click="updateTipPoints(0)"  ng-show="showButton('ErasePoints')")
						+btn-xs("0 Points")
				comment-list(content-id='1' ng-hide='addATip()')
				.errorDiv(ng-bind="responseData")