extends layout

append body
	.container(style="text:center")
		+alert-i-warning("The tips library is in development.  Eventually, I hope this can be a place for music producers to quickly reference a set of tips that may help them generate ideas.  The tips library will have filters for a number of categories allowing for a quick search(filter by Daw/Genre/Vst/Theory ect..) The library itself needs to be grown, so if you have tips please send them to me at crazylegsmusic@gmail.com, you will be credited!  Also if you have any ideas on how to make this page a more useful place for producers, please reach out to me as well. <3 Casey CrazyLegs","heart")
	.container(ng-controller="bodyTipHelperController" style="display:inline-block")
		#navBarWrapper(style="float:left;width:150px;margin-left:-20px;")
			#blockForMargin(style="height:60px;width:100%")
			navBarItem.list-unstyled(ng-repeat="tip in tipArrayData")				
				#tipNavItem.btn-xs.btn-primary(ng-click="tipNavBarClicked(tip)"){{tip.tipTitle}}
		
		.container(style="float:left;width:70%")
			.tipsPageWrapper(ng-hide="addATip()")

				#titleName= title
				
				#tipsWrapper.contentWrapper
					#tipTitle.titleWrapper
						+panel-primary("{{tipTitle}}")
							p.tipDescription
								{{tipDesc}}
				#imageWrapper
					img(ng-src="resources/images/{{imageFileName}}" style='width:100%')				
				//+carousel("sample",["{image:"resources/images/b01930a6957f7a1ffc3536132b554bb2",caption:"blah"}"])
				#prvButton.keyButton(ng-click="prevButtonClicked()")
					+btn("Previous")
				#nxtButton.keyButton(ng-click="nextButtonClicked()")
					+btn("Next")
				#addATipButton.keyButton(ng-click="addATipClicked()" ng-hide="false")
					+btn("Add")
				#deleteATipButton.keyButton(ng-click="deleteATipClicked()" ng-hide="false")
					+btn("Delete")
			.addATipPageWrapper(ng-hide="!addATip()")
				#tipsFormWrapper.contentWrapper
					+input("text","tipTitleInput","Title","TipTitle")
					textarea#textAreaTip.form-control(placeholder="Tip Description" required style="width:100%;margin-bottom:10px")
					.genereInputWrapper(style="")
						h7 Genres
						.btnWrapper(style="" ng-repeat = "genre in genreArray")
							//+toggle-primary("{{genre.genreName}}")
							input.inputClass(type="checkbox",data-toggle="toggle" name='{{genre.genreName}}' id='inputGenreId{{genre.genreName}}')
							+label-primary("{{genre.genreName}}")
							
					.theoryInputWrapper(style="margin-top:5px;display:inline-block;")
						h7 Tip Type
						.btnWrapper							
							input.inputClass(type="checkbox",data-toggle="toggle" name='theoryYes' id='theoryYes')
							+label-primary("Theory")
							input.inputClass(type="checkbox",data-toggle="toggle" name='mixingYes' id='mixingYes')
							+label-primary("Mixing")
							input.inputClass(type="checkbox",data-toggle="toggle" name='masteringYes' id='masteringYes')
							+label-primary("Mastering")
							input.inputClass(type="checkbox",data-toggle="toggle" name='workFlowYes' id='workFlowYes')
							+label-primary("Work Flow")
					.vstInputWrapper(style="margin-top:5px;")
						h7 VST
						.btnWrapper(style="" ng-repeat = "vst in vstArray")							
							input.inputClass(type="checkbox",data-toggle="toggle" name='{{vst.vstName}}' id='inputVstId{{vst.vstName}}')
							+label-primary("{{vst.vstName}}")
					.dawInputWrapper(style="margin-top:5px;")
						h7 DAW
						.btnWrapper(style="" ng-repeat = "daw in dawArray")							
							input.inputClass(type="checkbox",data-toggle="toggle" name='{{daw.dawName}}' id='inputDawId{{daw.dawName}}')
							+label-primary("{{daw.dawName}}")
					.imageUploaderInputWrapper(style="margin-top:5px;")
						h7 Image Uploader						
						.inputWrapper						
							input.inputClass(type="file",nv-file-select uploader="uploader")
							ul
								li(ng-repeat="item in uploader.queue")
									{{item.file.name}}
									button.btn.btn-success.btn-xs(ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess")
										span.glyphicon.glyphicon-upload										
											
					.viedoLinkInputWrapper(style="margin-top:5px;")
						h7 Link Video							
							+input("text","videoLink","https://www.youtube.com/","")
										
					.backAndSubmitWrapper()
						.backToTipsButtonDiv(style='float:left' ng-click="backToTipsClicked()")
							+btn("Back")
						.submitButtonDiv(style='float:right' ng-click="submitButtonClicked()")
							+submit-primary("Submit")
			.signUpForTipsEmailWrapper(style='margin-top:10px')
				+accordion("Sign Up for tips email report")
					+accordion-item-default("Tips Library Email Report","sample")
						p.textWrapper If you would like to sign up for a monthly email report of the tips added to the library, please sign up with us below.  
						form.well(id='form-signUp', ng-submit="signUpEmailReportSubmit()")
							.form-group
								label Email
								input.form-control(type='text',id='userEmailId',name='userEmail',ng-model="emailListSignUpUserEmail")
							.form-group
								label Password
								input.form-control(type='password',id='passwordId',name='userPass',ng-model="emailListSignUpUserPassword")
							.form-group
								label Password Verify
								input.form-control(type='password',id='passwordVerifyId',name='userPassVerify',ng-model="emailListSignUpUserPasswordVerify")
							button(type='button').btn.btn-default.button-rememember-me
								span.glyphicon.glyphicon-unchecked.button-rememember-me-glyph
								|  Remember Me
							button(type='submit' ng-disabled="signUpDisabled()").btn.btn-primary.button-sign-in
								span.glyphicon.glyphicon-ok
								|  Sign Up
			.errorDiv(ng-bind="responseData")