body {
  background-color: #f1f1f1;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
p {
    margin: 0;
    padding:0;
}
#navbar_menu{
    background-color: white;
    border-radius: 5px;
}
.pageController{

}
.formInputWrapper{
    background-color: white;
    /* padding: 15px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    border-color: white;
    border-width: thick;
    border-style:solid;

}
a {
  color: #00B7FF;
}

#keyButtonWrapper{
  
 
}


.titleBannerDiv{
    margin-bottom: 10px;
    margin-left: -10px;
}
.keyButton{
  display: inline-block;
  margin-top: 5px;
  
  
}
.container{
    margin-left: 5px;
    margin-right:5px;
}

.filterBoxStyle{
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
    border-style: solid;
    border-width: thin;
    border-color: #d1d2d2;
}

.label-default{
    margin-right:5px;
    background-color: #8a8a8a;
}
.genereInputWrapper{
float:left;width:26%;margin-left:2%;margin-bottom:5px;
}
.theoryInputWrapper{
float:left;width:25%;
}
.vstInputWrapper{
float:left;width:22%;
}
.dawInputWrapper{
    float:left;width:25%;
}
/*Sign In Style*/
#signInWrapper{
    margin: 0 auto;
    width:40%;
    min-width: 150px;
   
}
#signInDetails{
    
}
#btnSignInSubmit{
    float:right;
}
#signInLinkWrapper{
        font-size: smaller;
	margin-top: 15px;
}

#navBarSortBtn{
    margin-left:5px;
}
.arrowBtnClass{
    float:right;
}

#labelSort{
    float:left;
}

.tipDescription{
    white-space:pre-line;
     text-indent: 50px;
}
.tipDescInput{
    width:100%;
    margin-bottom:10px
    
} 

#submittedByDiv{
    float:right;
    padding-bottom: 2px;
}
.label-info {
    background-color: #777;
    margin:1px;
}
.filterWrapper{
    border-right-style: solid;
    padding-left:15px;
    border-color:  #8a8a8a;
    height:62.73px;
}
#tipTypeFilterWrapper{
    border-left-style: solid;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
//.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
//   color: #fff;
//    background-color: #120129;
//    border-color: #204d74;
//    border-style: solid;
//    border-width: thin;
//    cursor: pointer;
//} 
.btn-primary{
   
    color: #383838;
    background-color: #ececec;
    border-style: groove;
    border-width: thin;
    border-color: #bda8c3;
    margin-bottom: 1px;
    font-size: 75%;
    font-weight: 700;
}
//.btn-default{
//   
//    color: #000;
//    background-color: #e2e2e2;
//    border-style: groove;
//    border-width: thin;
//    border-color: #bda8c3;
//    margin-bottom: 1px;
//    margin:3px;
//}
.label-primary {
    margin-right: 1px;
    background-color: #f6fff3;
    border-style: double;
    border-width: thin;
    border-color: #4a8b2e;
    border-radius: 3px;
    color: #383838;
    padding-right: 3px;
    padding-left: 3px;
}
.label-primary:hover {
    cursor:pointer;
    
}
.label-default:hover {
    cursor:pointer;
    
}
.inputToggleClass{
      cursor:pointer;
}
.hoverButton:hover{
     cursor:pointer;
}
.panel-body{
    background-color:  white;
    border-radius: 5px;

}


.alert-info,.alert-warning {
    color: #31708f;
    background-color: #f6fff3;
    border-color: #4a8b2e;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #00cc66;
}

.canvasjs-chart-credit{
    visibility: hidden;
}
.navBarBottomRow{
    position:relative;
    top:-20px;
    height:125px;
}

.navBarBottomRowOverlap{
    background-color: #777;
    position: relative;
    top: -126px;
    opacity: .8;
    max-height: 94px;
    color: white;
    text-align: center;
    font-size: small;
       
}
.navBarTopDiv{
    background-color:#525252;
    z-index:1;
    position:relative;
    color:white;
    padding:5px;
    border-radius: 5px;
}
#navBarWrapper{  
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: #d1d2d2;
    border-style: solid;
    border-width: thin;
}
.rightWidetWrapper{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: #d1d2d2;
    border-style: solid;
    border-width: thin;
}
#rightWidgetContainer{
    
    padding-left: 15px;
}

.navBarTipActive{
    background-color:green;
}
.rightBarNavItem{
    max-height: 40px;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width:  thin;
    border-bottom-color: #d4d4d4;
    transition: max-height 0.5s ease-out;
}

.rightBarNavItem:hover{
    max-height: 125px;
    transition: max-height 0.5s ease-in;
}


.tipNavItem{
    max-height: 60px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width:  thin;
    border-bottom-color: #d4d4d4;
    transition: max-height 0.5s ease-out;

}
.tipNavItem:hover{
    max-height: 125px;
    transition: max-height 0.5s ease-in;
}

#tipTitle{
    
    display: inline-block;
    width: 100%;
    color: white;
    background-color: #777777;
    border-radius: 5px;
    border:#d4d4d4;
    border-style: solid;
    border-width: thin;
    margin-bottom: -10px;
    margin-top:10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;
        
}
.textAreaTip#textAreaTip{
    resize:vertical ;
}
.panel-heading{
    background-color: white;
}
.btn.btn-default:hover{
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}
#loveButton.active, #loveButton.focus, #loveButton:active, #loveButton:focus{
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
#likeButton.active, #likeButton.focus, #likeButton:active, #likeButton:focus {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}
.btn:disabled{
    //background-color: lightpink;
}
#dislikeButton.active, #dislikeButton.focus, #dislikeButton:active, #dislikeButton:focus {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
#descBody{
    white-space: pre-wrap;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#tipHeader.active, #tipHeader.focus, #tipHeader:active, #tipHeader:focus, #tipHeader:hover{
    background-color: #ececec;
    cursor: pointer;
} 
.ng-hide-add, 
.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
}
.animate-show.ng-hide-remove {
    animation:0.5s flipInX ease;
    //transition: 0.5s linear opacity;
    //opacity: 0;
    
}


.ng-hide-remove-active {
    opacity: 1;
}

.animate-show.ng-hide-add {
    animation:0.5s flipOutX ease-in-out;
    //transition: 0.5s linear opacity;
   // opacity: 1;
}
#profileLoggedIn{
    position: absolute;
   top: 17px;
    right: 75px;
}
ol{
    display:inline-block;   
     overflow: hidden;
    
}
div > ul{
    margin-top: -40px;
}
li > ul{
    margin-top: -15px;
}

li{
    float:left;
}

.ng-hide-add-active {
    opacity: 0;
}
.tipMetaClick{
     width:100%;
    border-radius:5px;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-width:thin;
    background-color:#ececec;
}
.tipMetaClick.active, .tipMetaClick.focus, .tipMetaClick:active, .tipMetaClick:focus, .tipMetaClick:hover{
    cursor: pointer;
   
}



#tipWrapper{
    transition: all 1s ease-in-out;
}
.imageThumbNail{
    max-height: 130px;
    max-width:116px;
}
.imageThumbNail.active,.imageThumbNail:active,.imageThumbNail:hover{
    background-color: darkgreen;
}
.imgDiv{
    margin-top:10px;
}

.btn:disabled {
    background-color: darkgray;
    border-color: darkslateblue;
}
.packWrapper{
margin-bottom:5px;
padding:5px;
border-radius: 3px;
}
.packWrapper:hover{
    cursor: pointer;
    background-color: #f6fff3;
}
.packWrapper.active{
    cursor: pointer;
    background-color: #f6fff3;
    border-style: solid;    
    border-width: thin;
    border-color: #4a8b2e;
}
.sampleRowWrapper{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom:3px;
    border-bottom-color: #cccccc;
}
.hover:hover{
    cursor:pointer;
}

.playbtn{
    font-size: 125%;
    
}

//ABOUT
.aboutImg{
    width:457px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

    padding-right: 0px;

}