body {
    background-color: #f1f1f1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
body, html {
    height: 100%;
}
p {
    margin: 0;
    padding:0;
}
#navbar_menu{
    border-radius: 5px;
    z-index: 1;
}
.activeHeart{
    color:red;
}
.activeDownloaded{
    color:green;
}
.bgImage{
     /* The image used */
    /* Full height */
    height: 100%; 
    width: 100%;
    background: url('https://tip-photos-bucket.s3-us-west-2.amazonaws.com/1499998967136');
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    z-index: -1000;
    top:50px;
}
.pageController{

}
::-webkit-scrollbar { 
    display: none; 
}

.navDescriptionWrapper{
    margin-left: 10px;
    padding-right: 10px;
    margin-top: 7px;
    text-align: left;
}
.formInputWrapper{
    background-color: white;
    /* padding: 15px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    border-radius: 5px;
    border-color: white;
    border-width: thick;
    border-style:solid;

}
a {
    color: #00B7FF;
}

#keyButtonWrapper{


}
.left{
    float:left;
    padding-right:15px;
}
.right{
    float:right;
}
.titleBannerDiv{
    margin-bottom: 10px;
    margin-left: -10px;
}
.keyButton{
    display: inline-block;
    margin-top: 5px;


}
.container{
    margin-left: 5px;
    margin-right:5px;
}

.filterBoxStyle{
    background-color: white;
    border-radius: 5px;
    margin-bottom: 5px;
    padding-bottom:5px;
    border-style: solid;
    border-width: thin;
    border-color: #d1d2d2;
    z-index: 2;
}
.userDetailsDiv{
    position: fixed;
    width: 100%;
    display:inline-block;
    z-index: 2;
        TOP: 50PX;
}
.userDetailsDivTipLib{
    position: fixed;
    width: 100%;
    display:inline-block;
    z-index: 2;
        TOP: 65PX;
}
.alert{
    z-index: -1;
}
.username{
    float: right;
    margin-top: -48px;
    margin-right: 150px;
}
#navbar_menu{
    position:fixed;
    width:100%;
    top:0px;
}
.label-default{
    margin-right:5px;
    background-color: #8a8a8a;
}
.genereInputWrapper{
    float:left;width:26%;margin-left:2%;margin-bottom:5px;
}
.theoryInputWrapper{
    float:left;width:25%;
}
.aleartTop{
    margin-top:60px;
}
.vstInputWrapper{
    float:left;width:22%;
}
.dawInputWrapper{
    float:left;width:25%;
}
/*Sign In Style*/
#signInWrapper{
    margin: 0 auto;
    width:40%;
    min-width: 150px;
   //margin-top: 25%;

}

#signUpWrapper{
    margin: 0 auto;
    width:40%;
    min-width: 150px;
   //margin-top: 25%;

}
.labelDisplayStrong{
   
    font-size: 25px;
    //font-family: helvetica;
}
#signInDetails{

}
#btnSignInSubmit{
    float:right;
}
#signInLinkWrapper{
    font-size: smaller;
    margin-top: 15px;
}

#navBarSortBtn{
    margin-left:5px;
}
.arrowBtnClass{
    float:right;
}
.packHeaderWrapper{
    font-size:18px;
    
}
#labelSort{
    float:left;
}
#tipsScrollWrapper{
    overflow:auto;
    background: white;
    padding: 10px;
    border-radius: 5px;
}
.tipDescription{
    white-space:pre-line;
    text-indent: 50px;
}
.tipDescInput{
    width:100%;
    margin-bottom:10px

} 

#submittedByDiv{
    float:right;
    padding-bottom: 2px;
}
.label-info {
    background-color: #777;
    margin:1px;
}
.filterWrapper{
    border-right-style: solid;
    padding-left:15px;
    border-color:  #8a8a8a;
    height:75.73px;
    overflow: auto;

}
#tipTypeFilterWrapper{
    border-left-style: solid;
}
.navBarTopDiv{

    font-size:large;
}
.minimize{

    height: 15px;

    /* position: relative; */
    /* float: left; */
    float: right;
    margin-top: -16px;
    margin-right: 2px;

}
.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
//.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default {
//   color: #fff;
//    background-color: #120129;
//    border-color: #204d74;
//    border-style: solid;
//    border-width: thin;
//    cursor: pointer;
//} 
.btn-primary{

    color: #383838;
    background-color: #ececec;
    border-style: groove;
    border-width: thin;
    border-color: #bda8c3;
    margin-bottom: 1px;
    font-size: 75%;
    font-weight: 700;
}
//.btn-default{
//   
//    color: #000;
//    background-color: #e2e2e2;
//    border-style: groove;
//    border-width: thin;
//    border-color: #bda8c3;
//    margin-bottom: 1px;
//    margin:3px;
//}
.label-primary.active {
    margin-right: 1px;
    background-color: darkslateblue;
    border-style: double;
    border-width: thin;
    border-color: #4a8b2e;
    border-radius: 3px;
    color: white;
    padding-right: 3px;
    padding-left: 3px;
}

.label-primary {
    margin-right: 1px;
    background-color: #f6fff3;
    border-style: double;
    border-width: thin;
    border-color: #4a8b2e;
    border-radius: 3px;
    color: #383838;
    padding-right: 3px;
    padding-left: 3px;
    font-size: smaller;
}
.label-primary:hover {
    cursor:pointer;

}
.label-default:hover {
    cursor:pointer;

}
.inputToggleClass{
    cursor:pointer;
}
.hoverButton:hover{
    cursor:pointer;
}
.panel-body{
    background-color:  white;
    border-radius: 5px;

}
.profilePageWrapper{
    background-color: white;
}


.alert-info,.alert-warning {
    color: #31708f;
    background-color: #f6fff3;
    border-color: #4a8b2e;
}
.alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #00cc66;
}
.profilePageBanner{
    height: 200px;
}
.bannerWrapper{
    width:100%;
    height:200px;
}
.canvasjs-chart-credit{
    visibility: hidden;
}
.navBarBottomRow{
    position:relative;
    top:-38px;
    height:125px;
}

.navBarBottomRowOverlap{
    background-color: rgba(119, 119, 119,.8);
    position: relative;
    top: -130px;
    color: white;
    text-align: left;
    font-size: small;
    min-height: 100px;
    text-align: center;
    font-size: 14px;

}
.userNameLabel{
    font-style: italic;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    opacity: 1;
}
.navBarBottomRowUserBioOverlap{
    background-color: rgba(119, 119, 119,.8);
    position: relative;
    top: -130px;
    color: white;
    text-align: left;
    font-size: small;
    min-height: 100px;
}
.navBarBottomRowUserBioOverlapProfile{
    background-color: rgba(119, 119, 119,.8);
    position: relative;
    top: -110px;
    color: white;
    text-align: left;
    font-size: small;
    min-height: 100px;
}
.tipTagNav{
    font-size:10px;
    max-height: 100px;
}
.userTotalPoints{
    font-style: italic;
    background: rgba(255, 255, 255, .7);
    padding: 4px;
    border-radius: 6px;
    width: 50px;
    text-align: center;
    /* margin-right: 0px; */
    /* margin-top: 2px; */
    padding-bottom: 3px;
}
.navTipPoints {
    font-style: italic;
    font-size: 16px;
}
.navTipDate{
        font-size: small;
    font-style: normal;
    margin-left: 5px;
}
.imgNavWrapper{
    margin-top:-35px
}
.navBarTopDiv{
    //background-color:#f3f3f3;
    z-index:1;
    position:relative;
    color:#565656;
    padding:5px;
    border-radius: 5px;
    max-height: 50px;
    overflow:auto;
    
    //opacity: .8;
    background: rgba(243, 243, 243,.8);
}
#navBarWrapper{  
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: #d1d2d2;
    border-style: solid;
    border-width: thin;
}
.rightWidetWrapper{
    background-color: white;
    border-radius: 5px;
    padding: 5px;
    border-color: #d1d2d2;
    border-style: solid;
    border-width: thin;
}
#rightWidgetContainer{


}

.navBarTipActive{
    background-color: white;
    border-top-style: solid;
}
.rightBarNavItem{
    max-height: 40px;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width:  thin;
    border-bottom-color: #d4d4d4;
    transition: max-height 0.5s ease-out;
}

.rightBarNavItem:hover{
    max-height: 125px;
    transition: max-height 0.5s ease-in;
}
#tipBody{
    font-size: 15px;
}

.tipNavItem{
    max-height: 60px;
    transition: max-height 0.15s ease-out;
    overflow: hidden;
    border-bottom-style: solid;
    border-bottom-width:  thin;
    border-bottom-color: #d4d4d4;
    transition: max-height 0.5s ease-out;

}
.activePackDescWrapper{
    background:#616161;
    border-radius: 5px;
    padding:5px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    opacity: .8;
}
.activePackNameWrapper{
    background:#616161;
    border-radius: 5px;
    padding:5px;
    margin-top: 5px;
    margin-left: 5px;
    color: white;
    opacity: .8;
}
.packWrapper{
    width:50%;
}
.sampleListWrapper,.packList {
    overflow:auto;
}
.tipNavItem:hover{
    max-height: 125px;
    transition: max-height 0.5s ease-in;
}

#tipTitle{

    display: inline-block;
    width: 100%;
    color: #565656;
    background-color: #f3f3f3;
    border-radius: 5px;
    border:#d4d4d4;
    border-style: solid;
    border-width: thin;
    margin-bottom: -10px;
    margin-top:10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    padding-left: 10px;
    padding-right: 10px;

}
.textAreaTip#textAreaTip{
    resize:vertical ;
}
.panel-heading{
    background-color: white;
}
.btn.btn-default:hover{
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}
#loveButton.active, #loveButton.focus, #loveButton:active, #loveButton:focus{
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
#likeButton.active, #likeButton.focus, #likeButton:active, #likeButton:focus {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
}
.btn:disabled{
    //background-color: lightpink;
}
#dislikeButton.active, #dislikeButton.focus, #dislikeButton:active, #dislikeButton:focus {
    color: #fff;
    background-color: darkslateblue;
    border-color: #204d74;
    border-style: solid;
    border-width: thin;
    cursor: pointer;
} 
#descBody{
    white-space: pre-wrap;
}
.descBody{
    margin-bottom: 3px;
}
.row{
    margin-left:0px;
    margin-right:0px;
}

#tipHeader.active, #tipHeader.focus, #tipHeader:active, #tipHeader:focus, #tipHeader:hover{
    background-color: #ececec;
    cursor: pointer;
} 
.ng-hide-add, 
.ng-hide-remove {
    /* this needs to be here to make it visible during the animation
       since the .ng-hide class is already on the element rendering
       it as hidden. */
    display:block!important;
}
.animate-show.ng-hide-remove {
    animation:0.5s flipInX ease;
    //transition: 0.5s linear opacity;
    //opacity: 0;

}


.ng-hide-remove-active {
    opacity: 1;
}

.animate-show.ng-hide-add {
    animation:0.5s flipOutX ease-in-out;
    //transition: 0.5s linear opacity;
    // opacity: 1;
}
#profileLoggedIn{
    position: fixed;
    top: 17px;
    right: 75px;
    z-index: 2;
}
ol{
    display:inline-block;   
    overflow: hidden;

}
div > ul{
    margin-top: -40px;
}
li > ul{
    margin-top: -15px;
}

li{
    float:left;
}
.container{
    background: white;
    margin: 5px;

    // padding:5px;
    border-radius: 5px;
}
.ng-hide-add-active {
    opacity: 0;
}
.tipMetaClick{
    width:100%;
    border-radius:5px;
    border-bottom: lightgray;
    border-bottom-style: solid;
    border-width:thin;
    background-color:#ececec;
}
.tipMetaClick.active, .tipMetaClick.focus, .tipMetaClick:active, .tipMetaClick:focus, .tipMetaClick:hover{
    cursor: pointer;

}
.profileImageWrapper{
    margin:10px;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 0px;
    border-style: solid;
    border-width: thick;
}

.metaDataLabel{
    text-align: center;
}
.metaDataDiv{
    text-align: center;
    margin-bottom:5px;
    overflow-wrap: break-word;
}
#navTipTitle{
    opacity: 1;
}
#tipWrapper{
    transition: all 1s ease-in-out;
}
.imageThumbNail{
    max-height: 130px;
    max-width:116px;
}
.imageThumbNail.active,.imageThumbNail:active,.imageThumbNail:hover{
    background-color: darkgreen;
}
.imgDiv{
    margin-top:10px;
}

.btn:disabled {
    background-color: #616161;
    border-color: darkslateblue;
}
.packName,.packDescWrapper{
    opacity: 1;
    margin-left:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.packViewBanner{
    max-height: 250px;
}
.packNameWrapper{
        background: rgba(255, 255, 255, .7);
    padding: 5px;
    border-radius: 5px;
}
.packBackGroundImage {
    background-size: contain;
}
.packHeaderWrapper{
    background: rgba(202, 199, 199, 0.7);
    padding: 10px;
    border-radius: 5px;
    /* opacity: .8; */
    color: black;
       
	/* border-style: solid; */
	/* margin-top: 50%;*/;
}
.packWrapper{
    margin-bottom:5px;
    padding:5px;
    border-radius: 3px;
    min-height:100px;
    height: 10%;

    .form-control-minus-width{
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

}
.sampleLibAlert{
    margin-bottom: 0px;
}
.packListHeader{
    background: white;
    /* margin: 5px; */
    /* padding: 5px; */
    border-radius: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top:5px;
}

.packDescWrapper{
    overflow:auto;
    background: rgba(255, 255, 255, .7);
    padding:5px;
    border-radius: 5px;
}
.packWrapper:hover{
    cursor: pointer;
    background-color: #f6fff3;
}
.packWrapper.active{
    cursor: pointer;
    background-color: #f6fff3;
    border-style: solid;    
    border-width: thin;
    border-color: #4a8b2e;
}
.tipSampleRowWrapper{

    margin-bottom:5px;
    margin-top:5px;
}
.sampleRowWrapper{
    border-bottom-style: solid;
    border-bottom-width: thin;
    margin-bottom:3px;
    border-bottom-color: #cccccc;
    margin-top:3px;
}
.hover:hover{
    cursor:pointer;
}
#tipSampleNameAndTags{
    margin-bottom: -20px;
}
.inputGroup{
    margin-bottom: 5px;

}
.packMetaDataWrapper{
    background-color: #f6fff3;
    border-radius: 5px;
    padding:5px;
}
.inputWrapper{
    margin-right:5px;
}
.playbtn{
    font-size: 125%;

}

//ABOUT
.aboutImg{
    width:457px;
}


.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {

    padding-right: 0px;

}

.replyComment{
    background:lightblue;
}

.commentList{

}

.even{

}
.odd{
    background-color: #f1f1f1;
}
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}
.tooltip{
    position: fixed;
}

.tip-table-cell{
    padding-top: 17px;
}

.middle {
    margin-top:50%;
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 

}