body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#keyButtonWrapper{
  
 
}
#titleName{
    font-size:x-large;
    font-weight:bold;
    margin: 5px;
    
}

.titleBannerDiv{
    margin-bottom: 10px;
    margin-left: -10px;
}
.keyButton{
  display: inline-block;
  margin-top: 5px;
  
  
}
.container{
    margin-left: 5px;
    margin-right:5px;
}

.filterBoxStyle{
    background-color: beige;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

.label-default{
    margin-right:5px;
}
.label-primary{
    margin-right: 1px;
}
#titleName{
    color:darkslategrey;
}
/*Sign In Style*/
#signInWrapper{
    margin: 0 auto;
    width:40%;
    min-width: 150px;
   
}
#signInDetails{
    
}
#btnSignInSubmit{
    float:right;
}
#signInLinkWrapper{
        font-size: smaller;
	margin-top: 15px;
}

#navBarSortBtn{
    margin-left:5px;
}
.arrowBtnClass{
    float:right;
}

#labelSort{
    float:left;
}

.tipDescription{
    white-space:pre-line;
     text-indent: 50px;
}
.tipDescInput{
    width:100%;
    margin-bottom:10px
    
}

#submittedByDiv{
    float:right;
    padding-bottom: 2px;
}